openapi: 3.2.0
info:
  title: Xquik Users API
  version: '1.0'
  description: "Xquik is an independent third-party service. Not affiliated with X Corp. \"Twitter\" and \"X\" are trademarks of X Corp. Look up tweets, users, and X trends. Search tweets, check follow relationships, download media, and monitor accounts. 33 paid-read endpoints accept prepaid credits without a subscription. 7 fixed-price lookups also accept direct MPP payments. Write and automation endpoints require an API key or OAuth 2.1 bearer token.\n\n## Xquik SDKs\n\nStainless generates each SDK from this OpenAPI schema. Pick a language:\n\n- TypeScript / Node.js: `npm i x-twitter-scraper` -\n  [Xquik-dev/x-twitter-scraper-typescript](https://github.com/Xquik-dev/x-twitter-scraper-typescript)\n\n- Python: `pip install x-twitter-scraper` -\n  [Xquik-dev/x-twitter-scraper-python](https://github.com/Xquik-dev/x-twitter-scraper-python)\n\n- Go: `go get github.com/Xquik-dev/x-twitter-scraper-go` -\n  [Xquik-dev/x-twitter-scraper-go](https://github.com/Xquik-dev/x-twitter-scraper-go)\n\n- Ruby: `gem install x-twitter-scraper` -\n  [Xquik-dev/x-twitter-scraper-ruby](https://github.com/Xquik-dev/x-twitter-scraper-ruby)\n\n- Java (source build; Maven Central pending) -\n  [Xquik-dev/x-twitter-scraper-java](https://github.com/Xquik-dev/x-twitter-scraper-java)\n\n- Kotlin (source build; Maven Central pending) -\n  [Xquik-dev/x-twitter-scraper-kotlin](https://github.com/Xquik-dev/x-twitter-scraper-kotlin)\n\n- C# / .NET: `dotnet add package XTwitterScraper` -\n  [Xquik-dev/x-twitter-scraper-csharp](https://github.com/Xquik-dev/x-twitter-scraper-csharp)\n\n- PHP: `composer require xquik/x-twitter-scraper` -\n  [Xquik-dev/x-twitter-scraper-php](https://github.com/Xquik-dev/x-twitter-scraper-php)\n\n- CLI: `go install github.com/Xquik-dev/x-twitter-scraper-cli/cmd/x-twitter-scraper@latest` -\n  [Xquik-dev/x-twitter-scraper-cli](https://github.com/Xquik-dev/x-twitter-scraper-cli)\n\n- Terraform Provider (Terraform Registry) -\n  [Xquik-dev/terraform-provider-x-twitter-scraper](https://github.com/Xquik-dev/terraform-provider-x-twitter-scraper)\n\n\nOpenClaw plugin: [Xquik-dev/tweetclaw](https://github.com/Xquik-dev/tweetclaw) (`openclaw plugins install clawhub:@xquik/tweetclaw`)."
  x-guidance: '## Common tasks


    **Find a tweet** - GET /x/tweets/{id} with a numeric tweet ID. Returns full tweet data: text, author, metrics (likes, retweets, replies, views), media URLs, and creation timestamp. Cost: $0.00015 per lookup.


    **Search tweets** - GET /x/tweets/search?q={query}&limit={n}. Supports X search operators, structured filters like fromUser, mediaType, minFaves, hashtags, and verifiedOnly, plus exact lookup for a pasted Tweet ID or X status URL. Plain from:user date windows are optimized for timeline completeness. Returns up to 200 tweets per page with cursor-based pagination. Cost: $0.00015 per tweet returned.


    **Find a user** - GET /x/users/{id} where {id} is a numeric user ID or @username. Returns profile data: name, bio, follower/following counts, verification status, join date. Cost: $0.00015 per lookup.


    **Check if A follows B** - GET /x/followers/check?source={a}&target={b} where source and target are usernames, @usernames, or X or Twitter profile URLs. Cost: $0.00075.


    **Get trending topics** - GET /trends?woeid={region}&count={n}. WOEID 1 = worldwide, 23424977 = US, 23424975 = UK, 23424969 = Turkey. Cost: $0.00045.


    **Download media** - POST /x/media/download with {"tweetIds": ["123", "456"]} body. Returns download URLs for images and videos. Cost: 1 credit per fresh tweet processed with media; cached repeat downloads are free.


    **Read an article** - GET /x/articles/{tweetId} for long-form X Articles. Returns full article HTML, cover image, and metadata. Cost: $0.00075.


    ## Pagination


    Default v1 responses keep their existing pagination fields for compatibility. Platform list endpoints return `hasMore` and `nextCursor`; X data endpoints return `has_next_page` and `next_cursor`. Send `xquik-api-contract: 2026-04-29` to receive the unified best-practice fields `has_more` and `next_cursor`. Pass the cursor back as `?cursor={cursor}`; legacy `?after={cursor}` still works. Dynamic-priced endpoints charge per item returned, not per request.


    ## Authentication


    Eligible paid read endpoints accept accountless prepaid credit wallets. Fixed-price lookups also accept direct MPP payments. Media downloads, write endpoints, and automation features require authentication. Send an Xquik API key through `x-api-key`, `Xquik-Api-Key`, or `Authorization: Bearer xq_...`. Send an OAuth 2.1 access token through `Authorization: Bearer`.


    ## Best-Practice Response Contract


    v1 keeps its original response contract by default so existing integrations do not break. Send `xquik-api-contract: 2026-04-29` to opt in to the best-practice contract: snake_case response fields, Unix timestamps in seconds, structured error objects, `has_more` and `next_cursor` pagination fields, `object` resource identifiers, and prefixed IDs where available. Dependency failures that returned 502 in default v1 return 424 in the opt-in contract. Future major API versions should make this contract the default.'
  contact:
    name: Xquik
    url: https://xquik.com
    email: support@xquik.com
servers:
- url: https://xquik.com
security:
- apiKey: []
- oauthBearer: []
tags:
- name: Users
  description: Look up, search, and explore user profiles and relationships
paths:
  /api/v1/x/users/batch:
    get:
      operationId: getBatchUsers
      summary: Look up multiple users by IDs in one call
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
        description: Comma-separated numeric user IDs (1-100 values). Duplicate IDs are ignored while preserving first-seen order.
      responses:
        '200':
          description: Matched users plus reconciliation metadata for unavailable IDs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUsers'
              example:
                users:
                - id: '9876543210'
                  username: elonmusk
                  name: Elon Musk
                has_next_page: false
                next_cursor: ''
                requested_count: 2
                processed_count: 2
                returned_count: 1
                unavailable_ids:
                - '1234567890'
                unprocessed_ids: []
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: Look up multiple users by IDs in one call.
  /api/v1/x/users/search:
    get:
      operationId: searchUsers
      summary: Search users by name or username
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: User search query
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for user search
      responses:
        '200':
          description: User search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: Search users by name or username.
  /api/v1/x/users/{id}:
    get:
      operationId: getUser
      summary: Get user profile with follower counts and verification
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      x-payment-info:
        offers:
        - amount: '150'
          currency: '0x20c000000000000000000000b9537d11c60e8b50'
          intent: charge
          method: tempo
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: X username (without @) or user ID
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
              example:
                id: '9876543210'
                username: elonmusk
                name: Elon Musk
                description: CEO of Tesla, SpaceX, and X
                followers: 150000000
                following: 500
                verified: true
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: user_not_found
                message: X user not found. Check the username.
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: Get user profile with follower counts and verification.
  /api/v1/x/followers/check:
    get:
      operationId: checkFollow
      summary: Check if one user follows another
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      x-payment-info:
        offers:
        - amount: '750'
          currency: '0x20c000000000000000000000b9537d11c60e8b50'
          intent: charge
          method: tempo
      parameters:
      - name: source
        in: query
        required: true
        schema:
          type: string
        description: Source username, @username, or X or Twitter profile URL
      - name: target
        in: query
        required: true
        schema:
          type: string
        description: Target username, @username, or X or Twitter profile URL
      responses:
        '200':
          description: Follow check result
          content:
            application/json:
              schema:
                type: object
                required:
                - isFollowing
                - isFollowedBy
                - sourceUsername
                - targetUsername
                properties:
                  isFollowing:
                    type: boolean
                    example: true
                  isFollowedBy:
                    type: boolean
                    example: false
                  sourceUsername:
                    type: string
                    example: elonmusk
                  targetUsername:
                    type: string
                    example: jack
              example:
                isFollowing: true
                isFollowedBy: false
                sourceUsername: elonmusk
                targetUsername: jack
        '400':
          description: Missing or invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: missing_params
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: Check if one user follows another.
  /api/v1/x/users/{id}/tweets:
    get:
      operationId: getUserTweets
      summary: List recent tweets posted by a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: X user ID or username
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for user tweets
      - $ref: '#/components/parameters/ResultPageSize'
      - name: includeReplies
        in: query
        schema:
          type: boolean
          default: false
        description: Include reply tweets
      - name: includeParentTweet
        in: query
        schema:
          type: boolean
          default: false
        description: Include parent tweet for replies
      - $ref: '#/components/parameters/TweetFilterFromUser'
      - $ref: '#/components/parameters/TweetFilterToUser'
      - $ref: '#/components/parameters/TweetFilterMentioning'
      - $ref: '#/components/parameters/TweetFilterLanguage'
      - $ref: '#/components/parameters/TweetFilterSinceDate'
      - $ref: '#/components/parameters/TweetFilterUntilDate'
      - $ref: '#/components/parameters/TweetFilterMediaType'
      - $ref: '#/components/parameters/TweetFilterMinFaves'
      - $ref: '#/components/parameters/TweetFilterMinRetweets'
      - $ref: '#/components/parameters/TweetFilterMinReplies'
      - $ref: '#/components/parameters/TweetFilterMinQuotes'
      - $ref: '#/components/parameters/TweetFilterVerifiedOnly'
      - $ref: '#/components/parameters/TweetFilterReplies'
      - $ref: '#/components/parameters/TweetFilterRetweets'
      - $ref: '#/components/parameters/TweetFilterQuotes'
      - $ref: '#/components/parameters/TweetFilterExactPhrase'
      - $ref: '#/components/parameters/TweetFilterExcludeWords'
      - $ref: '#/components/parameters/TweetFilterAnyWords'
      - $ref: '#/components/parameters/TweetFilterHashtags'
      - $ref: '#/components/parameters/TweetFilterCashtags'
      - $ref: '#/components/parameters/TweetFilterUrl'
      - $ref: '#/components/parameters/TweetFilterConversationId'
      - $ref: '#/components/parameters/TweetFilterInReplyToTweetId'
      - $ref: '#/components/parameters/TweetFilterQuotesOfTweetId'
      - $ref: '#/components/parameters/TweetFilterRetweetsOfTweetId'
      responses:
        '200':
          description: User tweets list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List recent tweets posted by a user.
  /api/v1/x/users/{id}/replies:
    get:
      operationId: getUserReplies
      summary: List a user's With Replies timeline
      description: Returns the user's timeline with replies included by default.
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Target user ID or username for the replies timeline.
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for user replies
      - $ref: '#/components/parameters/ResultPageSize'
      - name: includeParentTweet
        in: query
        schema:
          type: boolean
          default: false
        description: Include each reply's parent tweet.
      - $ref: '#/components/parameters/TweetFilterFromUser'
      - $ref: '#/components/parameters/TweetFilterToUser'
      - $ref: '#/components/parameters/TweetFilterMentioning'
      - $ref: '#/components/parameters/TweetFilterLanguage'
      - $ref: '#/components/parameters/TweetFilterSinceDate'
      - $ref: '#/components/parameters/TweetFilterUntilDate'
      - $ref: '#/components/parameters/TweetFilterMediaType'
      - $ref: '#/components/parameters/TweetFilterMinFaves'
      - $ref: '#/components/parameters/TweetFilterMinRetweets'
      - $ref: '#/components/parameters/TweetFilterMinReplies'
      - $ref: '#/components/parameters/TweetFilterMinQuotes'
      - $ref: '#/components/parameters/TweetFilterVerifiedOnly'
      - $ref: '#/components/parameters/TweetFilterReplies'
      - $ref: '#/components/parameters/TweetFilterRetweets'
      - $ref: '#/components/parameters/TweetFilterQuotes'
      - $ref: '#/components/parameters/TweetFilterExactPhrase'
      - $ref: '#/components/parameters/TweetFilterExcludeWords'
      - $ref: '#/components/parameters/TweetFilterAnyWords'
      - $ref: '#/components/parameters/TweetFilterHashtags'
      - $ref: '#/components/parameters/TweetFilterCashtags'
      - $ref: '#/components/parameters/TweetFilterUrl'
      - $ref: '#/components/parameters/TweetFilterConversationId'
      - $ref: '#/components/parameters/TweetFilterInReplyToTweetId'
      - $ref: '#/components/parameters/TweetFilterQuotesOfTweetId'
      - $ref: '#/components/parameters/TweetFilterRetweetsOfTweetId'
      responses:
        '200':
          description: User timeline with replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
  /api/v1/x/users/{id}/likes:
    get:
      operationId: getUserLikes
      summary: List tweets liked by a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID or username
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for liked tweets
      - $ref: '#/components/parameters/ResultPageSize'
      - $ref: '#/components/parameters/TweetFilterFromUser'
      - $ref: '#/components/parameters/TweetFilterToUser'
      - $ref: '#/components/parameters/TweetFilterMentioning'
      - $ref: '#/components/parameters/TweetFilterLanguage'
      - $ref: '#/components/parameters/TweetFilterSinceDate'
      - $ref: '#/components/parameters/TweetFilterUntilDate'
      - $ref: '#/components/parameters/TweetFilterMediaType'
      - $ref: '#/components/parameters/TweetFilterMinFaves'
      - $ref: '#/components/parameters/TweetFilterMinRetweets'
      - $ref: '#/components/parameters/TweetFilterMinReplies'
      - $ref: '#/components/parameters/TweetFilterMinQuotes'
      - $ref: '#/components/parameters/TweetFilterVerifiedOnly'
      - $ref: '#/components/parameters/TweetFilterReplies'
      - $ref: '#/components/parameters/TweetFilterRetweets'
      - $ref: '#/components/parameters/TweetFilterQuotes'
      - $ref: '#/components/parameters/TweetFilterExactPhrase'
      - $ref: '#/components/parameters/TweetFilterExcludeWords'
      - $ref: '#/components/parameters/TweetFilterAnyWords'
      - $ref: '#/components/parameters/TweetFilterHashtags'
      - $ref: '#/components/parameters/TweetFilterCashtags'
      - $ref: '#/components/parameters/TweetFilterUrl'
      - $ref: '#/components/parameters/TweetFilterConversationId'
      - $ref: '#/components/parameters/TweetFilterInReplyToTweetId'
      - $ref: '#/components/parameters/TweetFilterQuotesOfTweetId'
      - $ref: '#/components/parameters/TweetFilterRetweetsOfTweetId'
      responses:
        '200':
          description: List of liked tweets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List tweets liked by a user.
  /api/v1/x/users/{id}/media:
    get:
      operationId: getUserMedia
      summary: List media tweets posted by a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID or username for media lookup
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for media tweets
      - $ref: '#/components/parameters/ResultPageSize'
      - $ref: '#/components/parameters/TweetFilterFromUser'
      - $ref: '#/components/parameters/TweetFilterToUser'
      - $ref: '#/components/parameters/TweetFilterMentioning'
      - $ref: '#/components/parameters/TweetFilterLanguage'
      - $ref: '#/components/parameters/TweetFilterSinceDate'
      - $ref: '#/components/parameters/TweetFilterUntilDate'
      - $ref: '#/components/parameters/TweetFilterMediaType'
      - $ref: '#/components/parameters/TweetFilterMinFaves'
      - $ref: '#/components/parameters/TweetFilterMinRetweets'
      - $ref: '#/components/parameters/TweetFilterMinReplies'
      - $ref: '#/components/parameters/TweetFilterMinQuotes'
      - $ref: '#/components/parameters/TweetFilterVerifiedOnly'
      - $ref: '#/components/parameters/TweetFilterReplies'
      - $ref: '#/components/parameters/TweetFilterRetweets'
      - $ref: '#/components/parameters/TweetFilterQuotes'
      - $ref: '#/components/parameters/TweetFilterExactPhrase'
      - $ref: '#/components/parameters/TweetFilterExcludeWords'
      - $ref: '#/components/parameters/TweetFilterAnyWords'
      - $ref: '#/components/parameters/TweetFilterHashtags'
      - $ref: '#/components/parameters/TweetFilterCashtags'
      - $ref: '#/components/parameters/TweetFilterUrl'
      - $ref: '#/components/parameters/TweetFilterConversationId'
      - $ref: '#/components/parameters/TweetFilterInReplyToTweetId'
      - $ref: '#/components/parameters/TweetFilterQuotesOfTweetId'
      - $ref: '#/components/parameters/TweetFilterRetweetsOfTweetId'
      responses:
        '200':
          description: List of media tweets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List media tweets posted by a user.
  /api/v1/x/users/{id}/followers-you-know:
    get:
      operationId: getFollowersYouKnow
      summary: List mutual followers between you and a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID for followers-you-know lookup
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for followers-you-know
      - $ref: '#/components/parameters/FollowerPageSize'
      responses:
        '200':
          description: List of mutual followers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List mutual followers between you and a user.
  /api/v1/x/notifications:
    get:
      operationId: getNotifications
      summary: Get notifications
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - All
          - Verified
          - Mentions
          default: All
        description: Notification type filter. Unrecognized values fall back to All.
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for notifications
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: object
                required:
                - notifications
                - has_next_page
                - next_cursor
                properties:
                  notifications:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      properties:
                        id:
                          type: string
                          example: '1234567890'
                        type:
                          type: string
                          example: like
                        message:
                          type: string
                          example: elonmusk liked your tweet
                        timestamp:
                          type: string
                          example: '2025-01-15T12:00:00Z'
                    example:
                    - id: '1234567890'
                      type: like
                      message: elonmusk liked your tweet
                      timestamp: '2025-01-15T12:00:00Z'
                  has_next_page:
                    type: boolean
                    example: true
                  next_cursor:
                    type: string
                    example: DAACCgACGRElMJcAAA
              example:
                notifications:
                - id: '1234567890'
                  type: like
                  message: elonmusk liked your tweet
                  timestamp: '2025-01-15T12:00:00Z'
                has_next_page: true
                next_cursor: DAACCgACGRElMJcAAA
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: Get notifications.
  /api/v1/x/dm/{userId}/history:
    get:
      operationId: getDmHistory
      summary: Get DM conversation history
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: Target user ID
      - name: account
        in: query
        required: true
        schema:
          type: string
        description: 'X handle (without the `@` prefix) of the connected X account used to read the conversation. The account must be a participant in the conversation.

          '
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for DM history
      - name: maxId
        in: query
        schema:
          type: string
        description: Legacy pagination cursor (backward compat)
      responses:
        '200':
          description: List of DM messages
          content:
            application/json:
              schema:
                type: object
                required:
                - messages
                - has_next_page
                - next_cursor
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - senderId
                      - receiverId
                      properties:
                        id:
                          type: string
                          example: '1234567890123456789'
                        text:
                          type: string
                          example: Hey, how are you?
                        senderId:
                          type: string
                          example: '9876543210'
                        receiverId:
                          type: string
                          example: '1234567890'
                        createdAt:
                          type: string
                          example: '2025-01-15T12:00:00Z'
                        mediaUrl:
                          type: string
                          example: https://pbs.twimg.com/dm_media/abc.jpg
                          description: 'URL of attached media (image, GIF, or video). Omitted when the message has no media attachment.

                            '
                    example:
                    - id: '1234567890123456789'
                      text: Hey, how are you?
                      senderId: '9876543210'
                      receiverId: '1234567890'
                  has_next_page:
                    type: boolean
                    example: true
                  next_cursor:
                    type: string
                    example: DAACCgACGRElMJcAAA
              example:
                messages:
                - id: '1234567890123456789'
                  text: Hey, how are you?
                  senderId: '9876543210'
                  receiverId: '1234567890'
                has_next_page: true
                next_cursor: DAACCgACGRElMJcAAA
        '400':
          description: 'Invalid input. Either `invalid_user_id` (path user ID is empty or invalid) or `account_required` (the `account` query parameter was missing or empty).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidUserId:
                  summary: Invalid user ID
                  value:
                    error: invalid_user_id
                accountRequired:
                  summary: Account query parameter missing
                  value:
                    error: account_required
                    message: Provide ?account=<x_handle> for a connected X account. DM history requires a connected participant account.
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          description: 'DM read forbidden. Either the connected account is not a participant in this conversation (`dm_not_permitted`), the account is suspended, locked, or otherwise restricted (`account_restricted`), or the account session needs to be re-authenticated (`account_needs_reauth`).

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                dmNotPermitted:
                  summary: Account is not a conversation participant
                  value:
                    error: dm_not_permitted
                    message: X rejected the DM read. The connected account is not a participant in this conversation, or it needs reauthentication. Reconnect the account on the dashboard and try again.
                accountRestricted:
                  summary: Connected account is restricted
                  value:
                    error: account_restricted
                accountNeedsReauth:
                  summary: Connected account needs reauthentication
                  value:
                    error: account_needs_reauth
        '404':
          description: Connected X account not found for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: account_not_found
                message: X account not found. Connect it first at /dashboard/account?tab=x-accounts.
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: Get DM conversation history.
  /api/v1/x/users/{id}/followers:
    get:
      operationId: getUserFollowers
      summary: List followers of a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Target user ID or username for follower lookup.
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for followers list
      - name: after
        in: query
        deprecated: true
        schema:
          type: string
        description: Legacy cursor alias. Prefer cursor.
      - $ref: '#/components/parameters/FollowerPageSize'
      - name: limit
        in: query
        deprecated: true
        schema:
          type: integer
        description: Legacy integer page size alias for following lists. Prefer pageSize.
      responses:
        '200':
          description: List of user followers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List followers of a user.
  /api/v1/x/users/{id}/following:
    get:
      operationId: getUserFollowing
      summary: List accounts a user follows
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID or username for following lookup
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for following list
      - name: after
        in: query
        deprecated: true
        schema:
          type: string
        description: Deprecated following cursor alias. Prefer cursor.
      - $ref: '#/components/parameters/FollowerPageSize'
      - name: limit
        in: query
        deprecated: true
        schema:
          type: integer
        description: Legacy page size alias. Prefer pageSize.
      responses:
        '200':
          description: List of following
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List accounts a user follows.
  /api/v1/x/users/{id}/mentions:
    get:
      operationId: getUserMentions
      summary: List tweets mentioning a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID or username for mentions lookup
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for mentions
      - $ref: '#/components/parameters/ResultPageSize'
      - name: sinceTime
        in: query
        schema:
          type: string
        description: Unix timestamp - return mentions after this time
      - name: untilTime
        in: query
        schema:
          type: string
        description: Unix timestamp - return mentions before this time
      - $ref: '#/components/parameters/TweetFilterFromUser'
      - $ref: '#/components/parameters/TweetFilterToUser'
      - $ref: '#/components/parameters/TweetFilterMentioning'
      - $ref: '#/components/parameters/TweetFilterLanguage'
      - $ref: '#/components/parameters/TweetFilterSinceDate'
      - $ref: '#/components/parameters/TweetFilterUntilDate'
      - $ref: '#/components/parameters/TweetFilterMediaType'
      - $ref: '#/components/parameters/TweetFilterMinFaves'
      - $ref: '#/components/parameters/TweetFilterMinRetweets'
      - $ref: '#/components/parameters/TweetFilterMinReplies'
      - $ref: '#/components/parameters/TweetFilterMinQuotes'
      - $ref: '#/components/parameters/TweetFilterVerifiedOnly'
      - $ref: '#/components/parameters/TweetFilterReplies'
      - $ref: '#/components/parameters/TweetFilterRetweets'
      - $ref: '#/components/parameters/TweetFilterQuotes'
      - $ref: '#/components/parameters/TweetFilterExactPhrase'
      - $ref: '#/components/parameters/TweetFilterExcludeWords'
      - $ref: '#/components/parameters/TweetFilterAnyWords'
      - $ref: '#/components/parameters/TweetFilterHashtags'
      - $ref: '#/components/parameters/TweetFilterCashtags'
      - $ref: '#/components/parameters/TweetFilterUrl'
      - $ref: '#/components/parameters/TweetFilterConversationId'
      - $ref: '#/components/parameters/TweetFilterInReplyToTweetId'
      - $ref: '#/components/parameters/TweetFilterQuotesOfTweetId'
      - $ref: '#/components/parameters/TweetFilterRetweetsOfTweetId'
      responses:
        '200':
          description: List of mentions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List tweets mentioning a user.
  /api/v1/x/users/{id}/verified-followers:
    get:
      operationId: getUserVerifiedFollowers
      summary: List verified followers of a user
      tags:
      - Users
      security:
      - apiKey: []
      - oauthBearer: []
      - {}
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: User ID or username for verified followers
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor for verified followers
      - $ref: '#/components/parameters/FollowerPageSize'
      responses:
        '200':
          description: List of verified followers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          content:
            application/json:
              example:
                error: internal_error
                message: Unexpected error. Try again.
              schema:
                $ref: '#/components/schemas/Error'
          description: Unexpected error.
      description: List verified followers of a user.
components:
  parameters:
    TweetFilterExactPhrase:
      name: exactPhrase
      in: query
      schema:
        type: string
      description: Exact phrase to match.
    ResultPageSize:
      name: pageSize
      in: query
      description: 'Maximum page items (1-100, default 20). Source, filters, or credits can reduce results. Continue while has_next_page is true. Deprecated limit and count aliases remain accepted.

        '
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    TweetFilterRetweets:
      name: retweets
      in: query
      schema:
        type: string
        enum:
        - include
        - exclude
        - only
      description: Retweet mode.
    TweetFilterFromUser:
      name: fromUser
      in: query
      schema:
        type: string
      description: Filter by author username.
    TweetFilterUrl:
      name: url
      in: query
      schema:
        type: string
      description: URL substring or domain filter.
    TweetFilterReplies:
      name: replies
      in: query
      schema:
        type: string
        enum:
        - include
        - exclude
        - only
      description: Reply mode.
    TweetFilterMinRetweets:
      name: minRetweets
      in: query
      schema:
        type: integer
        minimum: 0
      description: Minimum retweets threshold.
    TweetFilterVerifiedOnly:
      name: verifiedOnly
      in: query
      schema:
        type: boolean
      description: Only return tweets from verified authors.
    TweetFilterExcludeWords:
      name: excludeWords
      in: query
      schema:
        type: string
      description: Words or quoted phrases to exclude. Separate with spaces, commas, or lines.
    TweetFilterMinReplies:
      name: minReplies
      in: query
      schema:
        type: integer
        minimum: 0
      description: Minimum replies threshold.
    TweetFilterMinFaves:
      name: minFaves
      in: query
      schema:
        type: integer
        minimum: 0
      description: Minimum likes threshold.
    TweetFilterSinceDate:
      name: sinceDate
      in: query
      schema:
        type: string
        format: date
      description: Start date in YYYY-MM-DD format.
    TweetFilterCashtags:
      name: cashtags
      in: query
      schema:
        type: string
      description: Cashtags separated by spaces, commas, or lines.
    TweetFilterMinQuotes:
      name: minQuotes
      in: query
      schema:
        type: integer
        minimum: 0
      description: Minimum quote count threshold.
    TweetFilterQuotesOfTweetId:
      name: quotesOfTweetId
      in: query
      schema:
        type: string
      description: Only quotes of this tweet ID.
    TweetFilterHashtags:
      name: hashtags
      in: query
      schema:
        type: string
      description: Hashtags separated by spaces, commas, or lines.
    TweetFilterConversationId:
      name: conversationId
      in: query
      schema:
        type: string
      description: Conversation ID filter.
    TweetFilterAnyWords:
      name: anyWords
      in: query
      schema:
        type: string
      description: Words or quoted phrases where any one can match. Separate with spaces, commas, or lines.
    TweetFilterMentioning:
      name: mentioning
      in: query
      schema:
        type: string
      description: Filter tweets mentioning a username.
    TweetFilterQuotes:
      name: quotes
      in: query
      schema:
        type: string
        enum:
        - include
        - exclude
        - only
      description: Quote mode.
    TweetFilterUntilDate:
      name: untilDate
      in: query
      schema:
        type: string
        format: date
      description: End date in YYYY-MM-DD format.
    TweetFilterLanguage:
      name: language
      in: query
      schema:
        type: string
      description: Language code filter, e.g. en or tr.
    TweetFilterToUser:
      name: toUser
      in: query
      schema:
        type: string
      description: Filter replies sent to a username.
    TweetFilterRetweetsOfTweetId:
      name: retweetsOfTweetId
      in: query
      schema:
        type: string
      description: Only retweets of this tweet ID.
    TweetFilterInReplyToTweetId:
      name: inReplyToTweetId
      in: query
      schema:
        type: string
      description: Only replies to this tweet ID.
    TweetFilterMediaType:
      name: mediaType
      in: query
      schema:
        type: string
        enum:
        - images
        - videos
        - gifs
        - media
        - links
        - none
      description: Filter by media type.
    FollowerPageSize:
      name: pageSize
      in: query
      description: 'Maximum user profiles requested from this page (20-200, default 200). The response can contain fewer profiles because the source returned fewer or remaining credits cover fewer results. Keep requesting next_cursor while has_next_page is true. The deprecated limit and count aliases remain accepted.

        '
      schema:
        type: integer
        minimum: 20
        maximum: 200
        default: 200
  responses:
    PaymentRequired:
      description: 'Payment required. Fixed-price direct MPP requests return a Machine Payments Protocol problem document and a WWW-Authenticate challenge. Authenticated X data requests return balances and explicit Stripe checkout-creation actions. Guest paid-read keys receive only the accountless guest top-up action. Direct MPP challenges also advertise the Stripe wallet action. Other authenticated endpoints return a legacy error shape. A failed request never creates checkout. Create checkout only after the user confirms a payment option.

        '
      headers:
        WWW-Authenticate:
          description: MPP payment challenge for eligible anonymous pay-per-use requests. Authenticated credit or subscription errors omit this header.
          schema:
            type: string
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/XWritePaymentRequired'
            - $ref: '#/components/schemas/AuthenticatedPaymentRequired'
            - $ref: '#/components/schemas/GuestPaymentRequired'
            - allOf:
              - $ref: '#/components/schemas/Error'
              - not:
                  required:
                  - payment_options
          example:
            balance: '0'
            dashboard: /dashboard/account
            error: insufficient_credits
            message: Insufficient credits. Top up or subscribe to continue.
            next_step: Ask the user to confirm a payment option before creating checkout.
            payment_options:
              credits:
                create_checkout:
                  body:
                    dollars: 10
                    locale: en
                  creates: checkout_url
                  method: POST
                  path: /api/v1/credits/topup
                  provider: stripe
                  requires_authentication: true
                  requires_user_confirmation: true
                  response_url_field: url
              subscription:
                create_checkout:
                  body:
                    tier: starter
                  creates: checkout_url
                  method: POST
                  path: /api/v1/subscribe
                  provider: stripe
                  requires_authentication: true
                  requires_user_confirmation: true
                  response_url_field: url
            required: '1'
            top_up_endpoint: /api/v1/credits/topup
            top_up_url: POST /api/v1/credits/topup
        application/problem+json:
          schema:
            $ref: '#/components/schemas/MppPaymentRequired'
          example:
            account_required: false
            challengeId: Opaque MPP challenge identifier
            detail: Payment is required.
            hint: Use a supported wallet with an offer from the WWW-Authenticate header.
            status: 402
            title: Payment Required
            type: https://paymentauth.org/problems/payment-required
            next_step: Ask the user to confirm a USD amount before creating checkout.
            payment_options:
              guest_wallet:
                create_checkout:
                  account_required: false
                  amount_bounds:
                    currency: usd
                    maximum_minor: 25000
                    minimum_minor: 1000
                  body:
                    amount_minor: 1000
                    currency: usd
                  creates: checkout_url
                  method: POST
                  path: /api/v1/guest-wallets
                  provider: stripe
                  required_headers:
                    Idempotency-Key: <cryptographically random UUID v4>
                  requires_authentication: false
                  requires_user_confirmation: true
                  requires_user_interaction: true
                  response_fields:
                  - checkout_url
                  - api_key
                  - status_url
                  response_url_field: checkout_url
    InvalidInput:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: invalid_input
            message: Invalid input. Check the request body.
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found.
    Unauthenticated:
      description: Unauthenticated
      headers:
        Cache-Control:
          description: Prevents storage of authentication responses.
          schema:
            type: string
            const: no-store
        WWW-Authenticate:
          description: Bearer authentication challenge.
          schema:
            type: string
            const: Bearer realm="xquik"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthenticated
            message: Authentication required. Provide a valid API key or bearer token.
    AnonymousGuestAuthenticationRequired:
      description: 'Authentication required for a non-MPP paid read. The Bearer challenge requests authentication and is not a Payment challenge. Requests without credentials advertise accountless Stripe checkout, but create no checkout. Explicit invalid credentials return the plain error shape. Call an advertised action only after explicit user confirmation.

        '
      headers:
        Cache-Control:
          description: Prevents storage of the guest checkout action.
          schema:
            type: string
            const: no-store
        WWW-Authenticate:
          description: Bearer authentication challenge, not a Payment challenge.
          schema:
            type: string
            const: Bearer realm="xquik"
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/AnonymousGuestAuthenticationRequired'
            - allOf:
              - $ref: '#/components/schemas/Error'
              - not:
                  required:
                  - payment_options
          example:
            account_required: false
            error: unauthenticated
            message: Authentication required.
            next_step: Ask the user to confirm a USD amount before creating checkout.
            payment_options:
              guest_wallet:
                create_checkout:
                  account_required: false
                  amount_bounds:
                    currency: usd
                    maximum_minor: 25000
                    minimum_minor: 1000
                  body:
                    amount_minor: 1000
                    currency: usd
                  creates: checkout_url
                  method: POST
                  path: /api/v1/guest-wallets
                  provider: stripe
                  required_headers:
                    Idempotency-Key: <cryptographically random UUID v4>
                  requires_authentication: false
                  requires_user_confirmation: true
                  requires_user_interaction: true
                  response_fields:
                  - checkout_url
                  - api_key
                  - status_url
                  response_url_field: checkout_url
    RateLimitExceeded:
      description: 'Xquik tier rate limit exceeded. The response includes a `Retry-After` header with the number of seconds to wait before retrying.

        '
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Error'
            - type: object
              properties:
                retryAfter:
                  type: integer
                  example: 60
          example:
            error: rate_limit_exceeded
            message: Too many requests. Try again later.
            retryAfter: 60
      headers:
        Retry-After:
          description: Seconds until the next permitted request.
          schema:
            example: 60
            minimum: 1
            type: integer
    XApiError:
      description: 'Dependency unavailable, unauthorized, or rate limited. Default v1 returns 502. The best-practice response contract returns 424 for transparent dependency failures.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: x_api_unavailable
            message: X data source temporarily unavailable. Try again later.
  schemas:
    XWritePaymentRequired:
      allOf:
      - $ref: '#/components/schemas/XWriteAction'
      - type: object
        required:
        - error
        - message
      description: 'Durable failed write action with the applicable payment guidance.

        '
    XWriteActionAccount:
      type:
      - object
      - 'null'
      description: Connected account selected for the write.
      additionalProperties: false
      required:
      - id
      - username
      properties:
        id:
          type: string
        username:
          type: string
      example:
        id: '42'
        username: example
    GuestWalletPurchaseRequest:
      description: User-confirmed guest wallet checkout request.
      type: object
      additionalProperties: false
      required:
      - amount_minor
      - currency
      properties:
        amount_minor:
          type: integer
          minimum: 1000
          maximum: 25000
          description: USD cents accepted for this checkout.
          example: 1000
        currency:
          type: string
          const: usd
    TweetArticleMetadata:
      description: Article metadata attached to a tweet.
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        previewText:
          type: string
        coverMediaUrl:
          type: string
    ContentDisclosure:
      description: Content disclosure metadata shown by X when a tweet is labeled as paid partnership content or AI-generated media.
      type: object
      properties:
        advertising:
          type: object
          properties:
            isPaidPromotion:
              type: boolean
              description: True when X labels the tweet as paid promotion content.
              example: true
        aiGenerated:
          type: object
          properties:
            detectionSource:
              type: string
              description: Source of the AI-generated media disclosure.
              example: UserDeclared
            hasAiGeneratedMedia:
              type: boolean
              description: True when X labels the tweet as containing AI-generated media.
              example: true
    Error:
      description: 'Error response. Default v1 returns a legacy string error code. Send `xquik-api-contract: 2026-04-29` to receive the structured best-practice error object.

        '
      type: object
      required:
      - error
      properties:
        error:
          x-stainless-naming:
            python:
              type_name: ErrorValue
            java:
              type_name: ErrorValue
          example: invalid_input
          oneOf:
          - type: string
            title: LegacyErrorCode
            enum:
            - internal_error
            - account_already_connected
            - account_needs_reauth
            - account_not_found
            - account_required
            - account_restricted
            - api_key_limit_reached
            - article_not_found
            - dm_not_permitted
            - invalid_format
            - invalid_id
            - invalid_input
            - invalid_params
            - invalid_tool_type
            - invalid_tweet_id
            - invalid_tweet_url
            - invalid_user_id
            - invalid_user_ids
            - invalid_username
            - invalid_json
            - insufficient_credits
            - login_cooldown
            - login_failed
            - media_download_failed
            - missing_params
            - missing_query
            - monitor_already_exists
            - no_media
            - no_credits
            - no_subscription
            - not_found
            - payment_failed
            - rate_limit_exceeded
            - service_unavailable
            - style_not_found
            - subscription_inactive
            - tweet_not_found
            - unauthenticated
            - unsupported_field
            - user_not_found
            - body_too_large
            - checkout_unavailable
            - connection_challenge_expired
            - connection_challenge_inactive
            - draft_not_found
            - favoriters_unavailable
            - forbidden
            - guest_wallet_unavailable
            - guest_wallets_disabled
            - guest_wallets_unavailable
            - idempotency_conflict
            - idempotency_key_conflict
            - invalid_community_id
            - invalid_idempotency_key
            - invalid_list_id
            - invalid_payment_amount
            - invalid_range
            - login_rate_limited
            - missing_idempotency_key
            - missing_ids
            - no_cached_style
            - passkey_required
            - rate_limited
            - read_request_timeout
            - replies_incomplete
            - support_media_rate_limit
            - support_request_rate_limit
            - too_many_ids
            - unknown_field
            - unsupported_media_type
            - webhook_inactive
            - write_tracking_unavailable
            - x_write_unconfirmed
            - x_account_feature_required
            - x_account_protected
            - x_account_suspended
            - x_api_rate_limited
            - x_api_unavailable
            - x_api_unauthorized
            - x_auth_failure
            - x_content_too_long
            - x_daily_limit
            - x_dm_not_allowed
            - x_duplicate_action
            - x_login_auth_failed
            - x_login_challenge
            - x_login_denied
            - x_login_failed
            - x_login_proxy_error
            - x_login_rate_limited
            - x_login_service_unavailable
            - x_login_suspended
            - x_rate_limited
            - x_rejected
            - x_target_not_found
            - x_transient_error
            - x_user_lookup_failed
            - x_write_ambiguous
            - x_write_failed
            example: invalid_input
          - type: object
            title: StructuredError
            required:
            - message
            - type
            - code
            properties:
              message:
                type: string
                example: Invalid input. Check the request body.
              type:
                type: string
                enum:
                - api_error
                - authentication_error
                - billing_error
                - dependency_error
                - invalid_request_error
                - permission_error
                - rate_limit_error
                example: invalid_request_error
              code:
                type: string
                title: ErrorCode
                enum:
                - internal_error
                - account_already_connected
                - account_needs_reauth
                - account_not_found
                - account_required
                - account_restricted
                - api_key_limit_reached
                - article_not_found
                - dm_not_permitted
                - invalid_format
                - invalid_id
                - invalid_input
                - invalid_params
                - invalid_tool_type
                - invalid_tweet_id
                - invalid_tweet_url
                - invalid_user_id
                - invalid_user_ids
                - invalid_username
                - invalid_json
                - insufficient_credits
                - login_cooldown
                - login_failed
                - media_download_failed
                - missing_params
                - missing_query
                - monitor_already_exists
                - no_media
                - no_credits
                - no_subscription
                - not_found
                - payment_failed
                - rate_limit_exceeded
                - service_unavailable
                - style_not_found
                - subscription_inactive
                - tweet_not_found
                - unauthenticated
                - unsupported_field
                - user_not_found
                - body_too_large
                - checkout_unavailable
                - connection_challenge_expired
                - connection_challenge_inactive
                - draft_not_found
                - favoriters_unavailable
                - forbidden
                - guest_wallet_unavailable
                - guest_wallets_disabled
                - guest_wallets_unavailable
                - idempotency_conflict
                - idempotency_key_conflict
                - invalid_community_id
                - invalid_idempotency_key
                - invalid_list_id
                - invalid_payment_amount
                - invalid_range
                - login_rate_limited
                - missing_idempotency_key
                - missing_ids
                - no_cached_style
                - passkey_required
                - rate_limited
                - read_request_timeout
                - replies_incomplete
                - support_media_rate_limit
                - support_request_rate_limit
                - too_many_ids
                - unknown_field
                - unsupported_media_type
                - webhook_inactive
                - write_tracking_unavailable
                - x_write_unconfirmed
                - x_account_feature_required
                - x_account_protected
                - x_account_suspended
                - x_api_rate_limited
                - x_api_unavailable
                - x_api_unauthorized
                - x_auth_failure
                - x_content_too_long
                - x_daily_limit
                - x_dm_not_allowed
                - x_duplicate_action
                - x_login_auth_failed
                - x_login_challenge
                - x_login_denied
                - x_login_failed
                - x_login_proxy_error
                - x_login_rate_limited
                - x_login_service_unavailable
                - x_login_suspended
                - x_rate_limited
                - x_rejected
                - x_target_not_found
                - x_transient_error
                - x_user_lookup_failed
                - x_write_ambiguous
                - x_write_failed
                example: invalid_input
        message:
          type: string
          description: Human-readable error guidance.
          example: Invalid input. Check the request body.
        reason:
          type: string
          description: Machine-readable reason for a login cooldown.
          example: temporary_issue
        retryAfter:
          type: integer
          minimum: 1
          description: Seconds until the next permitted request.
          example: 60
        retryAfterMs:
          type: integer
          minimum: 1
          description: Required wait in milliseconds.
          example: 60000
    TweetMedia:
      description: Normalized media attached to a tweet.
      type: object
      required:
      - mediaUrl
      - type
      - url
      properties:
        mediaUrl:
          type: string
          description: Media preview URL
        type:
          type: string
          enum:
          - photo
          - video
          - animated_gif
        url:
          type: string
          description: X media link from the tweet
        allowDownload:
          type: boolean
          description: Whether X permits direct media download.
        altText:
          type: string
          description: Accessibility text supplied for the media.
        aspectRatio:
          type: array
          description: Video aspect ratio as width and height.
          items:
            type: integer
        availabilityStatus:
          type: string
          description: Media availability state reported by X.
        displayUrl:
          type: string
          description: Display-friendly media URL reported by X.
        durationMillis:
          type: integer
          description: Video duration in milliseconds.
        expandedUrl:
          type: string
          description: Expanded X media URL.
        faceRects:
          type: object
          description: Face-aware crop rectangles grouped by media size.
          additionalProperties:
            type: array
            items:
              type: object
              required:
              - x
              - y
              - w
              - h
              properties:
                x:
                  type: integer
                y:
                  type: integer
                w:
                  type: integer
                h:
                  type: integer
        focusRects:
          type: array
          description: Suggested image crops reported by X.
          items:
            type: object
            required:
            - x
            - y
            - w
            - h
            properties:
              x:
                type: integer
              y:
                type: integer
              w:
                type: integer
              h:
                type: integer
        height:
          type: integer
          description: Original media height.
        id:
          type: string
          description: X media entity ID.
        indices:
          type: array
          description: Media entity offsets in the tweet text.
          items:
            type: integer
        mediaKey:
          type: string
          description: Stable X media key.
        monetizable:
          type: boolean
          description: Whether X reports the media as monetizable.
        sizes:
          type: object
          description: Named media renditions and resize modes.
          additionalProperties:
            type: object
            required:
            - w
            - h
            - resize
            properties:
              w:
                type: integer
              h:
                type: integer
              resize:
                type: string
        videoVariants:
          type: array
          description: Available video encodings, ordered as returned
          items:
            type: object
            required:
            - contentType
            - url
            properties:
              bitrate:
                type: integer
              contentType:
                type: string
              url:
                type: string
        width:
          type: integer
          description: Original media width.
    BatchUsers:
      description: 'Batch user lookup results. Duplicate requested IDs are ignored while preserving first-seen order. unavailable_ids identifies processed IDs with no returned profile. unprocessed_ids identifies IDs skipped when available credits limit processing.

        '
      type: object
      required:
      - users
      - has_next_page
      - next_cursor
      - requested_count
      - processed_count
      - returned_count
      - unavailable_ids
      - unprocessed_ids
      properties:
        users:
          type: array
          example:
          - id: '9876543210'
            username: elonmusk
            name: Elon Musk
          items:
            $ref: '#/components/schemas/UserProfile'
        has_next_page:
          type: boolean
          const: false
          description: Batch lookups never paginate.
        next_cursor:
          type: string
          description: Empty because batch lookups never paginate.
          maxLength: 0
          example: ''
        requested_count:
          type: integer
          minimum: 0
          maximum: 100
          description: Number of unique IDs requested.
          example: 2
        processed_count:
          type: integer
          minimum: 0
          maximum: 100
          description: Number of requested IDs included in the lookup.
          example: 2
        returned_count:
          type: integer
          minimum: 0
          maximum: 100
          description: Number of user profiles returned and charged.
          example: 1
        unavailable_ids:
          type: array
          description: Processed IDs with no returned profile, in first-seen request order.
          items:
            type: string
            pattern: ^\d+$
          example:
          - '1234567890'
        unprocessed_ids:
          type: array
          description: Requested IDs skipped because available credits limited processing. Retry these IDs after adding credits.
          items:
            type: string
            pattern: ^\d+$
          example: []
    GuestPaymentRequired:
      description: 'Credit error for a paid-read guest key with only its accountless guest top-up action.

        '
      type: object
      additionalProperties: false
      required:
      - balance
      - error
      - message
      - next_step
      - payment_options
      - required
      - top_up_endpoint
      - top_up_url
      properties:
        balance:
          type: string
          pattern: ^\d+$
          example: '0'
        error:
          type: string
          enum:
          - insufficient_credits
          - no_credits
          - no_subscription
          - subscription_inactive
          example: insufficient_credits
        message:
          type: string
          example: Insufficient credits. Top up or subscribe to continue.
        next_step:
          type: string
          const: Ask the user to confirm a USD amount before creating checkout.
        payment_options:
          type: object
          additionalProperties: false
          required:
          - credits
          properties:
            credits:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  $ref: '#/components/schemas/GuestWalletTopupCheckoutAction'
        required:
          type: string
          pattern: ^\d+$
          example: '1'
        top_up_endpoint:
          type: string
          const: /api/v1/guest-wallets/topups
        top_up_url:
          type: string
          const: POST /api/v1/guest-wallets/topups
    PaginatedUsers:
      description: 'Paginated user profiles. The item count can be lower than pageSize when the source returns fewer profiles or remaining credits cover fewer results. Follow next_cursor while has_next_page is true. A relationship can naturally contain fewer profiles than requested. Zero affordable results returns 402 insufficient_credits.

        '
      type: object
      required:
      - users
      - has_next_page
      - next_cursor
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserProfile'
          example:
          - id: '9876543210'
            username: elonmusk
            name: Elon Musk
        has_next_page:
          type: boolean
          example: true
        next_cursor:
          type: string
          example: DAACCgACGRElMJcAAA
    GuestWalletCreateCheckoutAction:
      description: Explicit direct REST action for a new guest wallet checkout.
      type: object
      additionalProperties: false
      required:
      - account_required
      - amount_bounds
      - body
      - creates
      - method
      - path
      - provider
      - required_headers
      - requires_authentication
      - requires_user_confirmation
      - requires_user_interaction
      - response_fields
      - response_url_field
      properties:
        account_required:
          type: boolean
          const: false
        amount_bounds:
          $ref: '#/components/schemas/GuestWalletAmountBounds'
        body:
          $ref: '#/components/schemas/GuestWalletPurchaseRequest'
        creates:
          type: string
          const: checkout_url
        method:
          type: string
          const: POST
        path:
          type: string
          const: /api/v1/guest-wallets
        provider:
          type: string
          const: stripe
        required_headers:
          type: object
          additionalProperties: false
          required:
          - Idempotency-Key
          properties:
            Idempotency-Key:
              type: string
              const: <cryptographically random UUID v4>
        requires_authentication:
          type: boolean
          const: false
        requires_user_confirmation:
          type: boolean
          const: true
        requires_user_interaction:
          type: boolean
          const: true
        response_fields:
          type: array
          minItems: 3
          maxItems: 3
          prefixItems:
          - type: string
            const: checkout_url
          - type: string
            const: api_key
          - type: string
            const: status_url
          items:
            type: string
            enum:
            - checkout_url
            - api_key
            - status_url
        response_url_field:
          type: string
          const: checkout_url
    TweetNote:
      description: Complete Note Tweet content and rich-text metadata.
      type: object
      required:
      - text
      properties:
        id:
          type: string
        text:
          type: string
        isExpandable:
          type: boolean
        entities:
          type: object
          additionalProperties: true
          x-stainless-any: true
          x-stainless-terraform-type: string
        richtextTags:
          type: array
          items:
            type: object
            required:
            - fromIndex
            - toIndex
            - types
            properties:
              fromIndex:
                type: integer
              toIndex:
                type: integer
              types:
                type: array
                items:
                  type: string
    UserAffiliateLabel:
      description: Organization affiliation label shown on an X profile.
      type: object
      properties:
        badgeUrl:
          type: string
        description:
          type: string
        url:
          type: string
        urlType:
          type: string
        userLabelDisplayType:
          type: string
        userLabelType:
          type: string
    SearchTweet:
      description: Tweet returned from search results with inline author info. A zero metric can mean X did not report the count.
      type: object
      required:
      - id
      - text
      - retweetCount
      - replyCount
      - likeCount
      - quoteCount
      - viewCount
      - bookmarkCount
      properties:
        id:
          type: string
          example: '1234567890'
        text:
          type: string
          example: Just launched our new feature!
        type:
          type: string
          example: tweet
        createdAt:
          type: string
          example: '2025-01-15T12:00:00Z'
        isNoteTweet:
          type: boolean
          description: True for Note Tweets (long-form content, up to 25,000 characters)
          example: false
        isReply:
          type: boolean
          description: True when this search result is a reply
          example: false
        isQuoteStatus:
          type: boolean
          description: True when this search result quotes another tweet
          example: false
        isLimitedReply:
          type: boolean
          description: Whether the tweet has limited reply permissions
          example: false
        inReplyToId:
          type: string
          description: ID of the tweet this result replies to.
          example: '1234567890'
        inReplyToUserId:
          type: string
          description: ID of the user this result replies to.
          example: '9876543210'
        inReplyToUsername:
          type: string
          description: Username this result replies to.
          example: example_user
        conversationId:
          type: string
          description: Root tweet ID for the search result conversation
          example: '1234567890'
        source:
          type: string
          description: Client application used to post the tweet
          example: Twitter Web App
        displayTextRange:
          type: array
          items:
            type: integer
          description: Rendered text's start and end offsets.
          example:
          - 0
          - 31
        contentDisclosure:
          $ref: '#/components/schemas/ContentDisclosure'
        article:
          $ref: '#/components/schemas/TweetArticleMetadata'
        card:
          $ref: '#/components/schemas/TweetCard'
        communityNote:
          $ref: '#/components/schemas/TweetCommunityNote'
        edit:
          $ref: '#/components/schemas/TweetEdit'
        isTranslatable:
          type: boolean
        noteTweet:
          $ref: '#/components/schemas/TweetNote'
        place:
          $ref: '#/components/schemas/TweetPlace'
        possiblySensitive:
          type: boolean
        previousCounts:
          $ref: '#/components/schemas/TweetPreviousCounts'
        viewState:
          type: string
        entities:
          type: object
          additionalProperties: true
          description: Parsed search-result entities including URLs, mentions, hashtags, and media markers
        quoted_tweet:
          $ref: '#/components/schemas/EmbeddedTweet'
        retweeted_tweet:
          $ref: '#/components/schemas/EmbeddedTweet'
        media:
          type: array
          items:
            $ref: '#/components/schemas/TweetMedia'
          description: Search-result media attachments, omitted when no media is present
        url:
          type: string
          description: Search result permalink.
          example: https://x.com/example_user/status/1234567890
        lang:
          type: string
          description: Search result language code.
          example: en
        likeCount:
          type: integer
          example: 42
        retweetCount:
          type: integer
          example: 5
        replyCount:
          type: integer
          example: 3
        quoteCount:
          type: integer
          example: 1
        viewCount:
          type: integer
          example: 1500
        bookmarkCount:
          type: integer
          example: 2
        author:
          $ref: '#/components/schemas/UserProfile'
    UserHighlightsInfo:
      description: Profile highlight availability and count metadata.
      type: object
      properties:
        canHighlightTweets:
          type: boolean
        highlightedTweets:
          type: string
    GuestWalletTopupCheckoutAction:
      description: Explicit direct REST action for a guest wallet top-up.
      type: object
      additionalProperties: false
      required:
      - account_required
      - amount_bounds
      - body
      - creates
      - method
      - path
      - provider
      - required_headers
      - requires_authentication
      - requires_user_confirmation
      - requires_user_interaction
      - response_fields
      - response_url_field
      properties:
        account_required:
          type: boolean
          const: false
        amount_bounds:
          $ref: '#/components/schemas/GuestWalletAmountBounds'
        body:
          $ref: '#/components/schemas/GuestWalletPurchaseRequest'
        creates:
          type: string
          const: checkout_url
        method:
          type: string
          const: POST
        path:
          type: string
          const: /api/v1/guest-wallets/topups
        provider:
          type: string
          const: stripe
        required_headers:
          type: object
          additionalProperties: false
          required:
          - Idempotency-Key
          properties:
            Idempotency-Key:
              type: string
              const: <cryptographically random UUID v4>
        requires_authentication:
          type: boolean
          const: true
        requires_user_confirmation:
          type: boolean
          const: true
        requires_user_interaction:
          type: boolean
          const: true
        response_fields:
          type: array
          minItems: 2
          maxItems: 2
          prefixItems:
          - type: string
            const: checkout_url
          - type: string
            const: status_url
          items:
            type: string
            enum:
            - checkout_url
            - status_url
        response_url_field:
          type: string
          const: checkout_url
    PaginatedTweets:
      description: 'Paginated tweets. Source visibility, filters, or remaining credits can reduce results. An empty filtered page can still have has_next_page true. Follow next_cursor while has_next_page is true. Zero affordable results returns 402 insufficient_credits.

        '
      type: object
      required:
      - tweets
      - has_next_page
      - next_cursor
      properties:
        tweets:
          type: array
          items:
            $ref: '#/components/schemas/SearchTweet'
          example:
          - id: '1234567890'
            text: Just launched our new feature!
            retweetCount: 5
            replyCount: 3
            likeCount: 42
            quoteCount: 1
            viewCount: 1500
            bookmarkCount: 2
        has_next_page:
          type: boolean
          example: true
        next_cursor:
          type: string
          example: DAACCgACGRElMJcAAA
    AuthenticatedPaymentRequired:
      description: Authenticated credit or subscription error with confirmation-gated Stripe checkout actions.
      type: object
      additionalProperties: false
      required:
      - balance
      - dashboard
      - error
      - message
      - next_step
      - payment_options
      - required
      - top_up_endpoint
      - top_up_url
      properties:
        balance:
          type: string
          pattern: ^\d+$
          description: Available credits as a decimal string.
          example: '0'
        dashboard:
          type: string
          const: /dashboard/account
          description: Account page for manual billing management.
        error:
          type: string
          enum:
          - insufficient_credits
          - no_credits
          - no_subscription
          - subscription_inactive
          example: insufficient_credits
        message:
          type: string
          example: Insufficient credits. Top up or subscribe to continue.
        next_step:
          type: string
          const: Ask the user to confirm a payment option before creating checkout.
        payment_options:
          type: object
          additionalProperties: false
          required:
          - credits
          - subscription
          properties:
            credits:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  type: object
                  additionalProperties: false
                  required:
                  - body
                  - creates
                  - method
                  - path
                  - provider
                  - requires_authentication
                  - requires_user_confirmation
                  - response_url_field
                  properties:
                    body:
                      type: object
                      additionalProperties: false
                      required:
                      - dollars
                      - locale
                      properties:
                        dollars:
                          type: integer
                          const: 10
                        locale:
                          type: string
                          const: en
                    creates:
                      type: string
                      const: checkout_url
                    method:
                      type: string
                      const: POST
                    path:
                      type: string
                      const: /api/v1/credits/topup
                    provider:
                      type: string
                      const: stripe
                    requires_authentication:
                      type: boolean
                      const: true
                    requires_user_confirmation:
                      type: boolean
                      const: true
                    response_url_field:
                      type: string
                      const: url
            subscription:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  type: object
                  additionalProperties: false
                  required:
                  - body
                  - creates
                  - method
                  - path
                  - provider
                  - requires_authentication
                  - requires_user_confirmation
                  - response_url_field
                  properties:
                    body:
                      type: object
                      additionalProperties: false
                      required:
                      - tier
                      properties:
                        tier:
                          type: string
                          const: starter
                    creates:
                      type: string
                      const: checkout_url
                    method:
                      type: string
                      const: POST
                    path:
                      type: string
                      const: /api/v1/subscribe
                    provider:
                      type: string
                      const: stripe
                    requires_authentication:
                      type: boolean
                      const: true
                    requires_user_confirmation:
                      type: boolean
                      const: true
                    response_url_field:
                      type: string
                      const: url
        required:
          type: string
          pattern: ^\d+$
          description: Credits required for the blocked request.
          example: '1'
        top_up_endpoint:
          type: string
          const: /api/v1/credits/topup
        top_up_url:
          type: string
          const: POST /api/v1/credits/topup
    XWriteActionRequest:
      type: object
      description: Stable fingerprint and sanitized payload for replay checks.
      additionalProperties: false
      required:
      - hash
      - payload
      properties:
        hash:
          type:
          - string
          - 'null'
          pattern: ^[0-9a-f]{64}$
          description: Stable hash of account, action, target, and payload.
        payload:
          type:
          - object
          - 'null'
          additionalProperties: true
          description: Exact sanitized payload dispatched for this action.
      example:
        hash: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
        payload:
          tweet_id: '9876543210'
    XWriteActionNextAction:
      type:
      - object
      - 'null'
      description: Exact follow-up an API client or agent should perform.
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - poll
          - retry
          - verify_result
          - fix_request
        url:
          type: string
        afterMs:
          type: integer
          minimum: 0
        requiresNewIdempotencyKey:
          type: boolean
      example:
        type: poll
        url: /api/v1/x/write-actions/12345
        afterMs: 2000
    TweetCommunityNote:
      description: Community Note presentation metadata returned by X.
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        shortTitle:
          type: string
        subtitle:
          type: string
        footer:
          type: string
        destinationUrl:
          type: string
        visualStyle:
          type: string
    UserProfile:
      description: X user profile with bio, follower counts, and verification status.
      type: object
      required:
      - id
      - username
      - name
      properties:
        id:
          type: string
          example: '9876543210'
        username:
          type: string
          example: elonmusk
        name:
          type: string
          example: Elon Musk
        description:
          type: string
          example: CEO of Tesla, SpaceX, and X
        followers:
          type: integer
          example: 150000000
        following:
          type: integer
          example: 500
        verified:
          type: boolean
          example: true
        isBlueVerified:
          type: boolean
          description: Whether X shows a blue verification badge
          example: true
        isVerified:
          type: boolean
          description: Whether X marks the profile as verified
          example: true
        profilePicture:
          type: string
          example: https://pbs.twimg.com/profile_images/example.jpg
        coverPicture:
          type: string
          example: https://pbs.twimg.com/profile_banners/example.jpg
        profileBannerUrl:
          type: string
          description: Original X profile banner field when available
          example: https://pbs.twimg.com/profile_banners/example.jpg
        location:
          type: string
          example: Austin, TX
        createdAt:
          type: string
          example: '2009-06-02T20:12:29Z'
        statusesCount:
          type: integer
          example: 35000
        mediaCount:
          type: integer
          example: 1200
        protected:
          type: boolean
          description: Whether the profile protects its posts
          example: false
        url:
          type: string
          example: https://xquik.com
        favouritesCount:
          type: integer
          example: 18000
        hasCustomTimelines:
          type: boolean
          example: true
        isTranslator:
          type: boolean
          example: false
        withheldInCountries:
          type: array
          items:
            type: string
          example:
          - DE
        possiblySensitive:
          type: boolean
          example: false
        pinnedTweetIds:
          type: array
          items:
            type: string
          example:
          - '1234567890'
        isAutomated:
          type: boolean
          example: false
        automatedBy:
          type: string
          example: example_user
[...]
