openapi: 3.2.0
info:
  title: Xquik Extractions API
  version: '1.0'
  description: Xquik is an independent third-party service.
  x-guidance: '## Common tasks


    **Find a tweet** - GET /x/tweets/{id}. Returns text, author, metrics, media, and creation time. Cost: $0.00015 per lookup.


    **Search tweets** - GET /x/tweets/search?q={query}&limit={n}. Supports X operators, structured filters, Tweet IDs, and status URLs. Omit mode for automatic coverage. Cost: $0.00015 per returned tweet.


    **Find a user** - GET /x/users/{id}. Accepts an ID or username. Cost: $0.00015 per lookup.


    **Check if A follows B** - GET /x/followers/check?source={a}&target={b}. Accepts usernames or profile URLs. Cost: $0.00075.


    **Get trends** - GET /trends?woeid={region}&count={n}. WOEID 1 is worldwide. Cost: $0.00045.


    **Download media** - POST /x/media/download with `tweetIds`. Fresh Tweets cost 1 credit each. Cached repeats are free.


    **Read an article** - GET /x/articles/{tweetId}. Cost: $0.00075.


    ## Pagination


    Default platform pages return `hasMore` and `nextCursor`. X pages return `has_next_page` and `next_cursor`. The 2026-04-29 contract returns `has_more` and `next_cursor`. Pass cursors through `cursor`; `after` remains compatible. Dynamic pricing counts returned items, not requests.


    Omit `mode` for automatic reads. Pass cursors unchanged. `mode=standard` remains legacy. Retry 409 responses after `Retry-After`. Restart 410 responses without a cursor.


    ## Authentication


    Eligible reads accept guest wallets. Fixed-price lookups also accept MPP. Other features require an API key or OAuth 2.1 bearer token. API keys also support `Authorization: Bearer xq_...`.


    ## Best-Practice Response Contract


    v1 remains the default. Send `xquik-api-contract: 2026-04-29` for snake_case, Unix timestamps, structured errors, unified pagination, resource objects, and prefixed IDs. Dependency failures use 424 instead of 502.'
  contact:
    name: Xquik
    url: https://xquik.com
    email: support@xquik.com
servers:
- url: https://xquik.com
security:
- apiKey: []
- oauthBearer: []
tags:
- name: Extractions
  description: Bulk data extraction (23 tool types)
paths:
  /api/v1/extractions:
    get:
      operationId: listExtractions
      summary: List extraction jobs
      tags:
      - Extractions
      security:
      - apiKey: []
      - oauthBearer: []
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/After'
      - name: toolType
        in: query
        description: Filter by extraction tool type
        schema:
          $ref: '#/components/schemas/ExtractionToolType'
      - name: status
        in: query
        description: Filter by job status
        schema:
          type: string
          enum:
          - running
          - completed
          - failed
      responses:
        '200':
          description: Extraction job list
          content:
            application/json:
              schema:
                type: object
                required:
                - extractions
                - hasMore
                properties:
                  extractions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractionJob'
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: abc123
              example:
                extractions: []
                hasMore: false
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/UnexpectedError'
      description: List extraction jobs.
    post:
      operationId: createExtraction
      summary: Run extraction
      tags:
      - Extractions
      security:
      - apiKey: []
      - oauthBearer: []
      parameters:
      - name: dry_run
        in: query
        description: Estimate cost without creating an extraction.
        schema:
          type: boolean
          default: false
        example: true
      requestBody:
        required: true
        description: Tool type and target identifier (tweet, user, community, list, or search query).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
            example:
              toolType: follower_explorer
              targetUsername: elonmusk
      responses:
        '200':
          description: Dry-run estimate
          content:
            application/json:
              schema:
                type: object
                required:
                - allowed
                - creditsAvailable
                - creditsRequired
                - estimatedResults
                - source
                properties:
                  allowed:
                    type: boolean
                  creditsAvailable:
                    type: string
                  creditsRequired:
                    type: string
                  estimatedResults:
                    type: integer
                  resolvedXUserId:
                    type: string
                  source:
                    type: string
              example:
                allowed: true
                creditsAvailable: '10000'
                creditsRequired: '1000'
                estimatedResults: 1000
                source: profile
        '202':
          description: Extraction started
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - toolType
                - status
                properties:
                  id:
                    type: string
                    example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  toolType:
                    $ref: '#/components/schemas/ExtractionToolType'
                    example: follower_explorer
                  status:
                    type: string
                    const: running
                    example: running
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                toolType: follower_explorer
                status: running
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          $ref: '#/components/responses/XApiError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '502':
          $ref: '#/components/responses/XApiError'
        default:
          $ref: '#/components/responses/UnexpectedError'
      description: Run extraction.
  /api/v1/extractions/estimate:
    post:
      operationId: estimateExtraction
      summary: Estimate extraction cost
      tags:
      - Extractions
      security:
      - apiKey: []
      - oauthBearer: []
      requestBody:
        required: true
        description: Same parameters as a real extraction; returns estimated credit cost without running the job.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
            example:
              toolType: follower_explorer
              targetUsername: elonmusk
      responses:
        '200':
          description: Extraction estimate
          content:
            application/json:
              schema:
                type: object
                required:
                - estimatedResults
                - creditsRequired
                - creditsAvailable
                - allowed
                - source
                properties:
                  estimatedResults:
                    type: integer
                    example: 500
                  creditsRequired:
                    type: string
                    example: '500'
                  creditsAvailable:
                    type: string
                    example: '50000'
                  allowed:
                    type: boolean
                    example: true
                  source:
                    type: string
                    enum:
                    - followers
                    - following
                    - collection
                    - paginationCap
                    - posts
                    - quoteCount
                    - replyCount
                    - resultsLimit
                    - retweetCount
                    - unknown
                    example: replyCount
                  resolvedXUserId:
                    type: string
                    example: '123456'
              example:
                estimatedResults: 500
                creditsRequired: '500'
                creditsAvailable: '50000'
                allowed: true
                source: replyCount
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/UnexpectedError'
      description: Estimate extraction cost.
  /api/v1/extractions/{id}:
    get:
      operationId: getExtraction
      summary: Get extraction results
      tags:
      - Extractions
      security:
      - apiKey: []
      - oauthBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Extraction public ID (UUID)
      - name: limit
        in: query
        description: Maximum number of results to return (1-1000, default 100)
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - $ref: '#/components/parameters/After'
      - name: outputMode
        in: query
        description: Select compact, full, or raw-compatible result fields.
        schema:
          type: string
          enum:
          - compact
          - full
          - raw
          default: full
      - name: outputPreset
        in: query
        description: Keep enrichment nested or merge it into each result.
        schema:
          type: string
          enum:
          - nested
          - flat
          default: nested
      - name: fieldStyle
        in: query
        description: Preserve source keys or convert result field names.
        schema:
          type: string
          enum:
          - source
          - camelCase
          - snake_case
          default: source
      - name: includeRaw
        in: query
        deprecated: true
        description: Use outputMode=raw instead.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Extraction job with results
          content:
            application/json:
              schema:
                type: object
                required:
                - job
                - results
                - hasMore
                properties:
                  job:
                    type: object
                    additionalProperties: true
                    x-stainless-any: true
                    description: Extraction job metadata - shape varies by tool type (JSON)
                    x-stainless-terraform-type: string
                    example:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      toolType: follower_explorer
                      status: completed
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: abc123
              example:
                job:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  toolType: follower_explorer
                  status: completed
                results: []
                hasMore: false
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/UnexpectedError'
      description: Get extraction results.
  /api/v1/extractions/{id}/export:
    get:
      operationId: exportExtraction
      summary: Export extraction results
      tags:
      - Extractions
      security:
      - apiKey: []
      - oauthBearer: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Extraction public ID
      - name: format
        in: query
        required: true
        description: Export file format
        schema:
          type: string
          enum:
          - csv
          - json
          - md
          - md-document
          - pdf
          - txt
          - xlsx
      - name: minFollowers
        in: query
        schema:
          type: integer
        description: Minimum follower count.
      - name: maxFollowers
        in: query
        schema:
          type: integer
        description: Maximum follower count.
      - name: minFollowing
        in: query
        schema:
          type: integer
        description: Minimum following count.
      - name: maxFollowing
        in: query
        schema:
          type: integer
        description: Maximum following count.
      - name: minPosts
        in: query
        schema:
          type: integer
        description: Minimum post count.
      - name: maxPosts
        in: query
        schema:
          type: integer
        description: Maximum post count.
      - name: minLikes
        in: query
        schema:
          type: integer
        description: Minimum like count.
      - name: minReplies
        in: query
        schema:
          type: integer
        description: Minimum reply count.
      - name: minRetweets
        in: query
        schema:
          type: integer
        description: Minimum repost count.
      - name: minViews
        in: query
        schema:
          type: integer
        description: Minimum view count.
      - name: hasDescription
        in: query
        schema:
          type: boolean
        description: Require a non-empty description.
      - name: hasLocation
        in: query
        schema:
          type: boolean
        description: Require a non-empty location.
      - name: hasMedia
        in: query
        schema:
          type: boolean
        description: Require media.
      - name: verified
        in: query
        schema:
          type: boolean
        description: Filter by verified status.
      - name: lang
        in: query
        schema:
          type: string
        description: Filter by language code.
      - name: search
        in: query
        schema:
          type: string
        description: Search exported result text.
      - name: sinceDate
        in: query
        schema:
          type: string
          format: date
        description: Include results on or after this date.
      - name: untilDate
        in: query
        schema:
          type: string
          format: date
        description: Include results on or before this date.
      responses:
        '200':
          description: Exported file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        default:
          $ref: '#/components/responses/UnexpectedError'
      description: Export extraction results.
components:
  responses:
    PaymentRequired:
      description: 'Payment required. MPP reads return a problem document and `WWW-Authenticate`. Authenticated reads return balances and checkout actions. Guest keys receive only the guest top-up action. Other endpoints may use legacy errors. A failed request never creates checkout. Require user confirmation before creating one.

        '
      headers:
        WWW-Authenticate:
          description: MPP payment challenge for eligible anonymous pay-per-use requests. Authenticated credit or subscription errors omit this header.
          schema:
            type: string
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/XWritePaymentRequired'
            - $ref: '#/components/schemas/AuthenticatedPaymentRequired'
            - $ref: '#/components/schemas/GuestPaymentRequired'
            - allOf:
              - $ref: '#/components/schemas/Error'
              - not:
                  required:
                  - payment_options
          example:
            balance: '0'
            dashboard: /dashboard/account
            error: insufficient_credits
            message: Insufficient credits. Top up or subscribe to continue.
            next_step: Ask the user to confirm a payment option before creating checkout.
            payment_options:
              credits:
                create_checkout:
                  body:
                    dollars: 10
                    locale: en
                  creates: checkout_url
                  method: POST
                  path: /api/v1/credits/topup
                  provider: stripe
                  requires_authentication: true
                  requires_user_confirmation: true
                  response_url_field: url
              subscription:
                create_checkout:
                  body:
                    tier: starter
                  creates: checkout_url
                  method: POST
                  path: /api/v1/subscribe
                  provider: stripe
                  requires_authentication: true
                  requires_user_confirmation: true
                  response_url_field: url
            required: '1'
            top_up_endpoint: /api/v1/credits/topup
            top_up_url: POST /api/v1/credits/topup
        application/problem+json:
          schema:
            $ref: '#/components/schemas/MppPaymentRequired'
          example:
            account_required: false
            challengeId: Opaque MPP challenge identifier
            detail: Payment is required.
            hint: Use a supported wallet with an offer from the WWW-Authenticate header.
            status: 402
            title: Payment Required
            type: https://paymentauth.org/problems/payment-required
            next_step: Ask the user to confirm a USD amount before creating checkout.
            payment_options:
              guest_wallet:
                create_checkout:
                  account_required: false
                  amount_bounds:
                    currency: usd
                    maximum_minor: 25000
                    minimum_minor: 1000
                  body:
                    amount_minor: 1000
                    currency: usd
                  creates: checkout_url
                  method: POST
                  path: /api/v1/guest-wallets
                  provider: stripe
                  required_headers:
                    Idempotency-Key: <cryptographically random UUID v4>
                  requires_authentication: false
                  requires_user_confirmation: true
                  requires_user_interaction: true
                  response_fields:
                  - checkout_url
                  - api_key
                  - status_url
                  response_url_field: checkout_url
    InvalidInput:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: invalid_input
            message: Invalid input. Check the request body.
    XApiError:
      description: 'Dependency unavailable, unauthorized, or rate limited. Default v1 returns 502. The best-practice response contract returns 424 for transparent dependency failures.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: x_api_unavailable
            message: X data source temporarily unavailable. Try again later.
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found.
    Unauthenticated:
      description: Unauthenticated
      headers:
        Cache-Control:
          description: Prevents storage of authentication responses.
          schema:
            type: string
            const: no-store
        WWW-Authenticate:
          description: Bearer authentication challenge.
          schema:
            type: string
            const: Bearer realm="xquik"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthenticated
            message: Authentication required. Provide a valid API key or bearer token.
    RateLimitExceeded:
      description: 'Xquik tier rate limit exceeded. The response includes a `Retry-After` header with the number of seconds to wait before retrying.

        '
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Error'
            - type: object
              properties:
                retryAfter:
                  type: integer
                  example: 60
          example:
            error: rate_limit_exceeded
            message: Too many requests. Try again later.
            retryAfter: 60
      headers:
        Retry-After:
          description: Seconds until the next permitted request.
          schema:
            example: 60
            minimum: 1
            type: integer
    UnexpectedError:
      content:
        application/json:
          example:
            error: internal_error
            message: Unexpected error. Try again.
          schema:
            $ref: '#/components/schemas/Error'
      description: Unexpected error.
  schemas:
    XWriteActionTarget:
      type:
      - object
      - 'null'
      description: Existing X resource targeted by the write, when applicable.
      additionalProperties: false
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - tweet
          - user
          - community
        id:
          type: string
    ExtractionToolType:
      description: Identifier for the extraction tool used to run a job.
      type: string
      enum:
      - article_extractor
      - community_extractor
      - community_moderator_explorer
      - community_post_extractor
      - community_search
      - favoriters
      - follower_explorer
      - following_explorer
      - list_follower_explorer
      - list_member_extractor
      - list_post_extractor
      - mention_extractor
      - people_search
      - post_extractor
      - quote_extractor
      - reply_extractor
      - repost_extractor
      - space_explorer
      - thread_extractor
      - tweet_search_extractor
      - user_likes
      - user_media
      - verified_follower_explorer
    GuestWalletTopupCheckoutAction:
      description: Explicit direct REST action for a guest wallet top-up.
      type: object
      additionalProperties: false
      required:
      - account_required
      - amount_bounds
      - body
      - creates
      - method
      - path
      - provider
      - required_headers
      - requires_authentication
      - requires_user_confirmation
      - requires_user_interaction
      - response_fields
      - response_url_field
      properties:
        account_required:
          type: boolean
          const: false
        amount_bounds:
          $ref: '#/components/schemas/GuestWalletAmountBounds'
        body:
          $ref: '#/components/schemas/GuestWalletPurchaseRequest'
        creates:
          type: string
          const: checkout_url
        method:
          type: string
          const: POST
        path:
          type: string
          const: /api/v1/guest-wallets/topups
        provider:
          type: string
          deprecated: true
          const: stripe
        required_headers:
          type: object
          additionalProperties: false
          required:
          - Idempotency-Key
          properties:
            Idempotency-Key:
              type: string
              const: <cryptographically random UUID v4>
        requires_authentication:
          type: boolean
          const: true
        requires_user_confirmation:
          type: boolean
          const: true
        requires_user_interaction:
          type: boolean
          const: true
        response_fields:
          type: array
          minItems: 2
          maxItems: 2
          prefixItems:
          - type: string
            const: checkout_url
          - type: string
            const: status_url
          items:
            type: string
            enum:
            - checkout_url
            - status_url
        response_url_field:
          type: string
          const: checkout_url
    ExtractionMixedTarget:
      description: One auto-routed target in a mixed Tweet collection.
      oneOf:
      - type: string
        description: 'X URL, numeric Tweet ID, @username, kind:value target, or search.

          '
      - type: object
        required:
        - kind
        - value
        properties:
          kind:
            type: string
            enum:
            - favoriters
            - list
            - profile
            - profile_likes
            - profile_media
            - profile_replies
            - quotes
            - replies
            - retweeters
            - search
            - thread
            - tweet
          value:
            type: string
            minLength: 1
    XWriteActionResult:
      type:
      - object
      - 'null'
      description: Confirmed result produced by the write, when available.
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
          - tweet
          - direct_message
          - media
          - community
          - state_change
        id:
          type: string
        state:
          type: string
    XWritePaymentRequired:
      allOf:
      - $ref: '#/components/schemas/XWriteAction'
      - type: object
        required:
        - error
        - message
      description: 'Durable failed write action with the applicable payment guidance.

        '
    XWriteAction:
      type: object
      required:
      - object
      - id
      - writeActionId
      - action
      - status
      - terminal
      - retryable
      - safeToRetry
      - statusUrl
      - pollAfterMs
      - charged
      - chargedCredits
      - billing
      - request
      - account
      - target
      - targetId
      - result
      - nextAction
      - sendDispatched
      - success
      properties:
        object:
          type: string
          const: x_write_action
        id:
          type: string
        writeActionId:
          type: string
        action:
          type: string
          enum:
          - create_tweet
          - delete_tweet
          - like
          - unlike
          - retweet
          - unretweet
          - follow
          - unfollow
          - remove_follower
          - send_dm
          - upload_media
          - update_profile
          - update_avatar
          - update_banner
          - create_community
          - delete_community
          - join_community
          - leave_community
        status:
          type: string
          enum:
          - accepted
          - dispatching
          - pending_confirmation
          - success
          - failed
          - expired
        terminal:
          type: boolean
        retryable:
          type: boolean
          description: True only when a new attempt can reasonably succeed.
        safeToRetry:
          type: boolean
          description: 'True only when no write was dispatched and a new idempotency key may be used.

            '
        statusUrl:
          type: string
        pollAfterMs:
          type:
          - integer
          - 'null'
          minimum: 0
        charged:
          type: boolean
        chargedCredits:
          type: string
          pattern: ^\d+$
        billing:
          $ref: '#/components/schemas/XWriteActionBilling'
        request:
          $ref: '#/components/schemas/XWriteActionRequest'
        account:
          $ref: '#/components/schemas/XWriteActionAccount'
        target:
          $ref: '#/components/schemas/XWriteActionTarget'
        targetId:
          type:
          - string
          - 'null'
        result:
          $ref: '#/components/schemas/XWriteActionResult'
        nextAction:
          $ref: '#/components/schemas/XWriteActionNextAction'
        requestHash:
          type: string
          pattern: ^[0-9a-f]{64}$
        requestId:
          type: string
        idempotent:
          type: boolean
        error:
          type: string
        message:
          type: string
        sendDispatched:
          type: boolean
        sendDispatchedAt:
          type: string
          format: date-time
          description: Dispatch timestamp when the write reached execution.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          description: 'Deadline for resolving a non-terminal write. This is not the Idempotency-Key retention deadline.

            '
        confirmedAt:
          type: string
          format: date-time
        confirmationCheckedAt:
          type: string
          format: date-time
        confirmationAttempts:
          type: integer
          minimum: 0
        tweetId:
          type: string
          description: Compatibility field for a confirmed tweet result ID.
        messageId:
          type: string
          description: Compatibility field for a confirmed direct message ID.
        mediaId:
          type: string
          description: Compatibility field for a confirmed media upload ID.
        mediaUrl:
          type: string
          format: uri
          description: Public media URL when the upload creates one.
        communityId:
          type: string
          description: Compatibility field for a confirmed community ID.
        communityName:
          type: string
          description: Confirmed community name when available.
        resultId:
          type: string
          description: Compatibility result ID for other write actions.
        media:
          type: object
          additionalProperties: true
          description: Media count, kind, size, and billing details when used.
        details:
          type: object
          additionalProperties: true
          description: Structured recovery context for a failed write.
        success:
          type: boolean
      description: 'Durable write lifecycle record. Poll statusUrl until terminal is true. Reusing the original Idempotency-Key returns this same record. Submit a new write only when safeToRetry is true, using a new key.

        '
    MppPaymentRequired:
      description: Anonymous payment requirement for a direct MPP operation. The response includes an MPP challenge and an accountless checkout action.
      type: object
      required:
      - account_required
      - detail
      - next_step
      - payment_options
      - status
      - title
      - type
      properties:
        account_required:
          type: boolean
          const: false
        challengeId:
          type: string
          description: Opaque identifier for the MPP payment challenge.
        detail:
          type: string
        hint:
          type: string
          description: Instructions for selecting and paying an MPP offer.
        next_step:
          type: string
          const: Ask the user to confirm a USD amount before creating checkout.
        payment_options:
          type: object
          additionalProperties: false
          required:
          - guest_wallet
          properties:
            guest_wallet:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  $ref: '#/components/schemas/GuestWalletCreateCheckoutAction'
        status:
          type: integer
          const: 402
        title:
          type: string
          const: Payment Required
        type:
          type: string
          format: uri
          const: https://paymentauth.org/problems/payment-required
    ExtractionJob:
      description: Extraction job tracking status, tool type, and result count.
      type: object
      required:
      - id
      - toolType
      - status
      - totalResults
      - createdAt
      properties:
        id:
          type: string
        toolType:
          $ref: '#/components/schemas/ExtractionToolType'
        status:
          type: string
          enum:
          - running
          - completed
          - failed
        totalResults:
          type: integer
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
    XWriteActionAccount:
      type:
      - object
      - 'null'
      description: Connected account selected for the write.
      additionalProperties: false
      required:
      - id
      - username
      properties:
        id:
          type: string
        username:
          type: string
    AuthenticatedPaymentRequired:
      description: Authenticated credit or subscription error with confirmation-gated hosted checkout actions.
      type: object
      additionalProperties: false
      required:
      - balance
      - dashboard
      - error
      - message
      - next_step
      - payment_options
      - required
      - top_up_endpoint
      - top_up_url
      properties:
        balance:
          type: string
          pattern: ^\d+$
          description: Available credits as a decimal string.
        dashboard:
          type: string
          const: /dashboard/account
          description: Account page for manual billing management.
        error:
          type: string
          enum:
          - insufficient_credits
          - no_credits
          - no_subscription
          - subscription_inactive
        message:
          type: string
        next_step:
          type: string
          const: Ask the user to confirm a payment option before creating checkout.
        payment_options:
          type: object
          additionalProperties: false
          required:
          - credits
          - subscription
          properties:
            credits:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  type: object
                  additionalProperties: false
                  required:
                  - body
                  - creates
                  - method
                  - path
                  - provider
                  - requires_authentication
                  - requires_user_confirmation
                  - response_url_field
                  properties:
                    body:
                      type: object
                      additionalProperties: false
                      required:
                      - dollars
                      - locale
                      properties:
                        dollars:
                          type: integer
                          const: 10
                        locale:
                          type: string
                          const: en
                    creates:
                      type: string
                      const: checkout_url
                    method:
                      type: string
                      const: POST
                    path:
                      type: string
                      const: /api/v1/credits/topup
                    provider:
                      type: string
                      deprecated: true
                      const: stripe
                    requires_authentication:
                      type: boolean
                      const: true
                    requires_user_confirmation:
                      type: boolean
                      const: true
                    response_url_field:
                      type: string
                      const: url
            subscription:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  type: object
                  additionalProperties: false
                  required:
                  - body
                  - creates
                  - method
                  - path
                  - provider
                  - requires_authentication
                  - requires_user_confirmation
                  - response_url_field
                  properties:
                    body:
                      type: object
                      additionalProperties: false
                      required:
                      - tier
                      properties:
                        tier:
                          type: string
                          const: starter
                    creates:
                      type: string
                      const: checkout_url
                    method:
                      type: string
                      const: POST
                    path:
                      type: string
                      const: /api/v1/subscribe
                    provider:
                      type: string
                      deprecated: true
                      const: stripe
                    requires_authentication:
                      type: boolean
                      const: true
                    requires_user_confirmation:
                      type: boolean
                      const: true
                    response_url_field:
                      type: string
                      const: url
        required:
          type: string
          pattern: ^\d+$
          description: Credits required for the blocked request.
        top_up_endpoint:
          type: string
          const: /api/v1/credits/topup
        top_up_url:
          type: string
          const: POST /api/v1/credits/topup
    Error:
      description: 'Error response. Default v1 returns a legacy string error code. Send `xquik-api-contract: 2026-04-29` to receive the structured best-practice error object.

        '
      type: object
      required:
      - error
      properties:
        error:
          x-stainless-naming:
            python:
              type_name: ErrorValue
            java:
              type_name: ErrorValue
          oneOf:
          - type: string
            title: LegacyErrorCode
            enum:
            - internal_error
            - account_already_connected
            - account_needs_reauth
            - account_not_found
            - account_required
            - account_restricted
            - api_key_limit_reached
            - article_not_found
            - closed
            - dm_not_permitted
            - invalid_format
            - invalid_id
            - invalid_input
            - invalid_params
            - invalid_tool_type
            - invalid_tweet_id
            - invalid_tweet_url
            - invalid_user_id
            - invalid_user_ids
            - invalid_username
            - invalid_json
            - insufficient_credits
            - login_cooldown
            - login_failed
            - media_download_failed
            - missing_params
            - missing_query
            - monitor_already_exists
            - monitor_profile_unavailable
            - no_media
            - no_credits
            - no_subscription
            - not_found
            - payment_failed
            - rate_limit_exceeded
            - service_unavailable
            - style_not_found
            - subscription_inactive
            - tweet_not_found
            - unauthenticated
            - unsupported_field
            - user_not_found
            - body_too_large
            - checkout_unavailable
            - connection_challenge_expired
            - connection_challenge_inactive
            - coverage_cursor_gone
            - coverage_cursor_unavailable
            - draft_not_found
            - expired
            - favoriters_unavailable
            - forbidden
            - guest_wallet_unavailable
            - guest_wallets_disabled
            - guest_wallets_unavailable
            - idempotency_conflict
            - idempotency_key_conflict
            - invalid_community_id
            - invalid_complete_replies_request
            - invalid_coverage_cursor
            - invalid_coverage_request
            - invalid_idempotency_key
            - invalid_list_id
            - invalid_output_options
            - invalid_payment_amount
            - invalid_range
            - invalid_reply_options
            - login_rate_limited
            - login_service_unavailable
            - missing_idempotency_key
            - missing_ids
            - missing_url
            - no_cached_style
            - passkey_required
            - rate_limited
            - read_request_timeout
            - replies_incomplete
            - support_media_rate_limit
            - support_request_rate_limit
            - too_many_ids
            - too_many_tweets
            - unknown_field
            - unsupported_media_type
            - webhook_inactive
            - write_tracking_unavailable
            - x_write_unconfirmed
            - x_account_feature_required
            - x_account_protected
            - x_account_suspended
            - x_api_rate_limited
            - x_api_unavailable
            - x_api_unauthorized
            - x_auth_failure
            - x_content_too_long
            - x_daily_limit
            - x_dm_not_allowed
            - x_duplicate_action
            - x_login_auth_failed
            - x_login_challenge
            - x_login_denied
            - x_login_failed
            - x_login_proxy_error
            - x_login_rate_limited
            - x_login_service_unavailable
            - x_login_suspended
            - x_rate_limited
            - x_rejected
            - x_target_not_found
            - x_transient_error
            - x_user_lookup_failed
            - x_write_ambiguous
            - x_write_failed
          - type: object
            title: StructuredError
            required:
            - message
            - type
            - code
            properties:
              message:
                type: string
              type:
                type: string
                enum:
                - api_error
                - authentication_error
                - billing_error
                - dependency_error
                - invalid_request_error
                - permission_error
                - rate_limit_error
              code:
                type: string
                title: ErrorCode
                enum:
                - internal_error
                - account_already_connected
                - account_needs_reauth
                - account_not_found
                - account_required
                - account_restricted
                - api_key_limit_reached
                - article_not_found
                - closed
                - dm_not_permitted
                - invalid_format
                - invalid_id
                - invalid_input
                - invalid_params
                - invalid_tool_type
                - invalid_tweet_id
                - invalid_tweet_url
                - invalid_user_id
                - invalid_user_ids
                - invalid_username
                - invalid_json
                - insufficient_credits
                - login_cooldown
                - login_failed
                - media_download_failed
                - missing_params
                - missing_query
                - monitor_already_exists
                - monitor_profile_unavailable
                - no_media
                - no_credits
                - no_subscription
                - not_found
                - payment_failed
                - rate_limit_exceeded
                - service_unavailable
                - style_not_found
                - subscription_inactive
                - tweet_not_found
                - unauthenticated
                - unsupported_field
                - user_not_found
                - body_too_large
                - checkout_unavailable
                - connection_challenge_expired
                - connection_challenge_inactive
                - coverage_cursor_gone
                - coverage_cursor_unavailable
                - draft_not_found
                - expired
                - favoriters_unavailable
                - forbidden
                - guest_wallet_unavailable
                - guest_wallets_disabled
                - guest_wallets_unavailable
                - idempotency_conflict
                - idempotency_key_conflict
                - invalid_community_id
                - invalid_complete_replies_request
                - invalid_coverage_cursor
                - invalid_coverage_request
                - invalid_idempotency_key
                - invalid_list_id
                - invalid_output_options
                - invalid_payment_amount
                - invalid_range
                - invalid_reply_options
                - login_rate_limited
                - login_service_unavailable
                - missing_idempotency_key
                - missing_ids
                - missing_url
                - no_cached_style
                - passkey_required
                - rate_limited
                - read_request_timeout
                - replies_incomplete
                - support_media_rate_limit
                - support_request_rate_limit
                - too_many_ids
                - too_many_tweets
                - unknown_field
                - unsupported_media_type
                - webhook_inactive
                - write_tracking_unavailable
                - x_write_unconfirmed
                - x_account_feature_required
                - x_account_protected
                - x_account_suspended
                - x_api_rate_limited
                - x_api_unavailable
                - x_api_unauthorized
                - x_auth_failure
                - x_content_too_long
                - x_daily_limit
                - x_dm_not_allowed
                - x_duplicate_action
                - x_login_auth_failed
                - x_login_challenge
                - x_login_denied
                - x_login_failed
                - x_login_proxy_error
                - x_login_rate_limited
                - x_login_service_unavailable
                - x_login_suspended
                - x_rate_limited
                - x_rejected
                - x_target_not_found
                - x_transient_error
                - x_user_lookup_failed
                - x_write_ambiguous
                - x_write_failed
        message:
          type: string
          description: Human-readable error guidance.
        reason:
          type: string
          description: Machine-readable reason for a login cooldown.
        retryAfter:
          type: integer
          minimum: 1
          description: Seconds until the next permitted request.
        retryAfterMs:
          type: integer
          minimum: 1
          description: Required wait in milliseconds.
    GuestWalletAmountBounds:
      description: Accepted guest wallet purchase range in USD cents.
      type: object
      additionalProperties: false
      required:
      - currency
      - maximum_minor
      - minimum_minor
      properties:
        currency:
          type: string
          const: usd
        maximum_minor:
          type: integer
          const: 25000
        minimum_minor:
          type: integer
          const: 1000
    ExtractionRelationTarget:
      description: One target and relation in a mixed profile collection.
      type: object
      required:
      - relation
      - value
      properties:
        relation:
          type: string
          enum:
          - community_members
          - followers
          - following
          - list_followers
          - list_members
          - verified_followers
        value:
          type: string
          minLength: 1
    XWriteActionRequest:
      type: object
      description: Stable fingerprint and sanitized payload for replay checks.
      additionalProperties: false
      required:
      - hash
      - payload
      properties:
        hash:
          type:
          - string
          - 'null'
          pattern: ^[0-9a-f]{64}$
          description: Stable hash of account, action, target, and payload.
        payload:
          type:
          - object
          - 'null'
          additionalProperties: true
          description: Exact sanitized payload dispatched for this action.
    XWriteActionNextAction:
      type:
      - object
      - 'null'
      description: Exact follow-up an API client or agent should perform.
      additionalProperties: false
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - poll
          - retry
          - verify_result
          - fix_request
        url:
          type: string
        afterMs:
          type: integer
          minimum: 0
        requiresNewIdempotencyKey:
          type: boolean
    GuestPaymentRequired:
      description: 'Credit error for a paid-read guest key with only its accountless guest top-up action.

        '
      type: object
      additionalProperties: false
      required:
      - balance
      - error
      - message
      - next_step
      - payment_options
      - required
      - top_up_endpoint
      - top_up_url
      properties:
        balance:
          type: string
          pattern: ^\d+$
        error:
          type: string
          enum:
          - insufficient_credits
          - no_credits
          - no_subscription
          - subscription_inactive
        message:
          type: string
        next_step:
          type: string
          const: Ask the user to confirm a USD amount before creating checkout.
        payment_options:
          type: object
          additionalProperties: false
          required:
          - credits
          properties:
            credits:
              type: object
              additionalProperties: false
              required:
              - create_checkout
              properties:
                create_checkout:
                  $ref: '#/components/schemas/GuestWalletTopupCheckoutAction'
        required:
          type: string
          pattern: ^\d+$
        top_up_endpoint:
          type: string
          const: /api/v1/guest-wallets/topups
        top_up_url:
          type: string
          const: POST /api/v1/guest-wallets/topups
    ExtractionRequest:
      description: One synchronous estimate or asynchronous extraction request.
      type: object
      required:
      - toolType
      properties:
        toolType:
          $ref: '#/components/schemas/ExtractionToolType'
        targetTweetId:
          type: string
        targetUsername:
          type: string
        targetCommunityId:
          type: string
          description: Required for community_post_extractor & community_search.
        targetListId:
          type: string
          description: Required for list_follower_explorer, list_member_extractor & list_post_extractor.
        targetSpaceId:
          type: string
          description: Required for space_explorer.
        targetTweetIds:
          type: array
          minItems: 1
          maxItems: 10000
          uniqueItems: true
          items:
            type: string
          description: Tweet IDs processed as one collection job.
        targetUsernames:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
          description: Usernames processed as one collection job.
        targetCommunityIds:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
          description: Community IDs processed as one collection job.
        targetListIds:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
          description: List IDs processed as one collection job.
        searchQueries:
          type: array
          minItems: 1
          maxItems: 100
          uniqueItems: true
          items:
            type: string
          description: Search queries processed as one collection job.
        targets:
          type: array
          maxItems: 10000
          items:
            $ref: '#/components/schemas/ExtractionMixedTarget'
          description: Mixed targets auto-routed within one job.
        relationTargets:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ExtractionRelationTarget'
          description: Profile relations processed within one job.
        queryType:
          type: string
          enum:
          - Latest
          - Top
          - Both
          default: Latest
          description: Search ranking applied to every query.
        maxItemsPerTarget:
          type: integer
          minimum: 1
          description: Maximum results collected for each target.
        maxPagesPerTarget:
          type: integer
          minimum: 1
          maximum: 1000
          description: Reply pages collected for each target.
        startCursor:
          type: string
          minLength: 1
          description: Resume one reply target from this cursor.
        dedupeAcrossTargets:
          type: boolean
          default: true
          description: Merge duplicate results across collection targets.
        dedupeMode:
          type: string
          enum:
          - none
          - first
          - merge
          description: Keep target duplicates, first rows, or merged overlap.
        overlapMode:
          type: boolean
          default: false
          description: Shortcut for dedupeMode=merge.
        includeSearchTerms:
          type: boolean
          default: false
          description: Add matching search terms to collection metadata.
        includeTargetMetadata:
          type: boolean
          default: true
          description: Add source target metadata to each result.
        collectionStrategy:
          type: string
          enum:
          - auto
          - complete
          - direct
          - search
          - thread
          default: auto
          description: Reply collection strategy.
        scope:
          type: string
          enum:
          - all
          - direct
          - nested
          default: all
          description: Reply depth scope.
        maxDepth:
          type: integer
          minimum: 1
          description: Maximum nested reply depth.
        sort:
          type: string
          enum:
          - relevance
          - latest
          - oldest
          - likes
          default: relevance
          description: Reply result order.
        excludeOriginalAuthor:
          type: boolean
          default: false
          description: Exclude replies from the source author.
        includeOriginalPost:
          type: boolean
          default: false
          description: Include the source post in reply results.
        hasMediaOnly:
          type: boolean
          default: false
          description: Return only replies with media.
        sinceTime:
          oneOf:
          - type: string
            format: date-time
          - type: integer
          description: Reply start time as ISO 8601 or Unix seconds.
        untilTime:
          oneOf:
          - type: string
            format: date-time
          - type: integer
          description: Reply end time as ISO 8601 or Unix seconds.
        minViews:
          type: integer
          minimum: 0
          description: Minimum Tweet view count.
        minBookmarks:
          type: integer
          minimum: 0
          description: Minimum Tweet bookmark count.
        maxLikes:
          type: integer
          minimum: 0
          description: Maximum Tweet like count.
        maxRetweets:
          type: integer
          minimum: 0
          description: Maximum Tweet repost count.
        maxReplies:
          type: integer
          minimum: 0
          description: Maximum Tweet reply count.
        maxQuotes:
          type: integer
          minimum: 0
          description: Maximum Tweet quote count.
        blueVerifiedOnly:
          type: boolean
          default: false
          description: Return only Blue-verified Tweet authors.
        cardName:
          type: string
          description: Match the Tweet card name.
        source:
          type: string
          description: Match the source application.
        excludeSource:
          type: string
          description: Exclude a source application.
        geocode:
          type: string
          description: Match latitude, longitude, and radius.
        sinceId:
          type: string
          description: Return Tweets newer than this Tweet ID.
        maxId:
          type: string
          description: Return Tweets older than this Tweet ID.
        near:
          type: string
          description: Match a place name.
        within:
          type: string
          description: Set the radius for the near filter.
        withinTime:
          type: string
          description: Match Tweets inside a recent time window.
        nativeRetweets:
          type: boolean
          default: false
          description: Only return native reposts.
        safe:
          type: boolean
          default: false
          description: Enable the safe-search filter.
        news:
          type: boolean
          default: false
          description: Only return news results.
        minFollowers:
          type: integer
          minimum: 0
          description: Minimum follower count for profile results.
        maxFollowers:
          type: integer
          minimum: 0
          description: Maximum follower count for profile results.
        minFollowing:
          type: integer
          minimum: 0
          description: Minimum following count for profile results.
        maxFollowing:
          type: integer
          minimum: 0
          description: Maximum following count for profile results.
        minPosts:
          type: integer
          minimum: 0
          description: Minimum post count for profile results.
        maxPosts:
          type: integer
          minimum: 0
          description: Maximum post count for profile results.
        minAccountAgeDays:
          type: integer
          minimum: 0
          description: Minimum profile age in days.
        verifiedType:
          type: string
          description: Exact profile verification type.
        hasWebsite:
          type: boolean
          default: false
          description: Require a profile website.
        hasLocation:
          type: boolean
          default: false
          description: Require a profile location.
        bioContains:
          type: string
          description: Bio terms separated by commas or lines.
        locationContains:
          type: string
          description: Required profile location text.
        usernameContains:
          type: string
          description: Required username text.
        resultsLimit:
          type: integer
          description: Maximum number of results to extract. When set, the extraction stops after reaching this limit.
        searchQuery:
          type: string
          description: Required for tweet_search_extractor & community_search.
        fromUser:
          type: string
          description: Filter by author username (tweet_search_extractor)
        toUser:
          type: string
          description: Filter replies sent to a username (tweet_search_extractor)
        mentioning:
          type: string
          description: Filter tweets mentioning a username (tweet_search_extractor)
        language:
          type: string
          description: Language code filter (tweet_search_extractor)
        sinceDate:
          type: string
          format: date
          description: Start date YYYY-MM-DD (tweet_search_extractor)
        untilDate:
          type: string
          format: date
          description: End date YYYY-MM-DD (tweet_search_extractor)
        mediaType:
          type: string
          enum:
          - images
          - videos
          - gifs
          - media
          - links
          - none
          description: Media type filter (tweet_search_extractor)
        minFaves:
          type: integer
          minimum: 0
          description: Minimum likes threshold (tweet_search_extractor)
        minRetweets:
          type: integer
          minimum: 0
          description: Minimum retweets threshold (tweet_search_extractor)
        minReplies:
          type: integer
          minimum: 0
          description: Minimum replies threshold (tweet_search_extractor)
        minQuotes:
          type: integer
          minimum: 0
          description: Minimum quote count threshold (tweet_search_extractor)
        verifiedOnly:
          type: boolean
          description: Only verified authors (tweet_search_extractor)
        replies:
          type: string
          enum:
          - include
          - exclude
          - only
          description: Reply mode (tweet_search_extractor)
        retweets:
          type: string
          enum:
          - include
          - exclude
          - only
          description: Retweet mode (tweet_search_extractor)
        quotes:
          type: string
          enum:
          - include
          - exclude
          - only
          description: Quote mode (tweet_search_extractor)
        exactPhrase:
          type: string
          description: Exact phrase to match (tweet_search_extractor)
        excludeWords:
          type: string
          description: Words or quoted phrases to exclude. Separate with spaces, commas, or lines. (tweet_search_extractor)
        anyWords:
          type: string
          description: Words or quoted phrases where any one can match. Separate with spaces, commas, or lines. (tweet_search_extractor)
        hashtags:
          type: string
          description: Hashtags separated by spaces, commas, or lines. (tweet_search_extractor)
        cashtags:
          type: string
          description: Cashtags separated by spaces, commas, or lines. (tweet_search_extractor)
        url:
          type: string
          description: URL substring or domain filter (tweet_search_extractor)
        conversationId:
          type: string
          description: Conversation ID filter (tweet_search_extractor)
        inReplyToTweetId:
          type: string
          description: Only replies to this tweet ID (tweet_search_extractor)
        quotesOfTweetId:
          type: string
          description: Only quotes of this tweet ID (tweet_search_extractor)
        retweetsOfTweetId:
          type: string
          description: Only retweets of this tweet ID (tweet_search_extractor)
        listId:
          type: string
          description: Search within a list ID (tweet_search_extractor)
        place:
          type: string
          description: Search within a place ID (tweet_search_extractor)
        placeCountry:
          type: string
          description: Search within a country code (tweet_search_extractor)
        pointRadius:
          type: string
          description: Geo point radius, e.g. -73.99 40.73 25mi (tweet_search_extractor)
        boundingBox:
          type: string
          description: Geo bounding box, e.g. -74.1 40.6 -73.9 40.8 (tweet_search_extractor)
        advancedQuery:
          type: string
          description: Raw advanced search query appended as-is (tweet_search_extractor)
    XWriteActionBilling:
      type: object
      additionalProperties: false
      required:
      - status
      - charged
      - plannedCredits
      - chargedCredits
      properties:
        status:
          type: string
          enum:
          - not_charged
          - pending
          - charged
          - charge_failed
          - refunded
        charged:
          type: boolean
        plannedCredits:
          type: string
          pattern: ^\d+$
        chargedCredits:
          type: string
          pattern: ^\d+$
      description: 'plannedCredits is the approved maximum. chargedCredits comes from the settled credit ledger. Pending or failed writes are not charged.

        '
    GuestWalletCreateCheckoutAction:
      description: Explicit direct REST action for a new guest wallet checkout.
      type: object
      additionalProperties: false
      required:
      - account_required
      - amount_bounds
      - body
      - creates
      - method
      - path
      - provider
      - required_headers
      - requires_authentication
      - requires_user_confirmation
      - requires_user_interaction
      - response_fields
      - response_url_field
      properties:
        account_required:
          type: boolean
          const: false
        amount_bounds:
          $ref: '#/components/schemas/GuestWalletAmountBounds'
        body:
          $ref: '#/components/schemas/GuestWalletPurchaseRequest'
        creates:
          type: string
          const: checkout_url
        method:
          type: string
          const: POST
        path:
          type: string
          const: /api/v1/guest-wallets
        provider:
          type: string
          deprecated: true
          const: stripe
        required_headers:
          type: object
          additionalProperties: false
          required:
          - Idempotency-Key
          properties:
            Idempotency-Key:
              type: string
              const: <cryptographically random UUID v4>
        requires_authentication:
          type: boolean
          const: false
        requires_user_confirmation:
          type: boolean
          const: true
        requires_user_interaction:
          type: boolean
          const: true
        response_fields:
          type: array
          minItems: 3
          maxItems: 3
          prefixItems:
          - type: string
            const: checkout_url
          - type: string
            const: api_key
          - type: string
            const: status_url
          items:
            type: string
            enum:
            - checkout_url
            - api_key
            - status_url
        response_url_field:
          type: string
          const: checkout_url
    GuestWalletPurchaseRequest:
      description: User-confirmed guest wallet checkout request.
      type: object
      additionalProperties: false
      required:
      - amount_minor
      - currency
      properties:
        amount_minor:
          type: integer
          minimum: 1000
          maximum: 25000
          description: USD cents accepted for this checkout.
        currency:
          type: string
          const: usd
  parameters:
    After:
      name: cursor
      in: query
      schema:
        type: string
      description: Previous nextCursor.
    Limit:
      name: limit
      in: query
      description: 'Maximum number of items to return (1-100, default 50). For paid per-result endpoints, the returned count may be lower when remaining credits cannot cover the requested page. If zero paid results are affordable, the endpoint returns 402 insufficient_credits.

        '
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Xquik API key passed through the x-api-key header. Xquik-Api-Key is a vendor-prefixed alias. API keys beginning with xq_ can also use Authorization: Bearer.'
    oauthBearer:
      type: http
      scheme: bearer
      description: 'OAuth 2.1 access token passed through Authorization: Bearer. Values beginning with xq_ remain Xquik API-key credentials, not OAuth tokens.'
    cookieSession:
      type: apiKey
      in: cookie
      name: __Host-xquik_session
      description: Secure Xquik browser session cookie.
x-service-info:
  categories:
  - data
  docs:
    homepage: https://xquik.com
    apiReference: https://docs.xquik.com
    llms: https://docs.xquik.com/llms.txt
x-discovery:
  ownershipProofs:
  - dns:xquik.com
