{"openapi":"3.1.0","info":{"title":"Xquik API","version":"1.0","description":"Xquik is an independent third-party service. Not affiliated with X Corp. \"Twitter\" and \"X\" are trademarks of X Corp. Look up tweets, users, and X trends. Search tweets, check follow relationships, download media, and monitor accounts. 33 paid-read endpoints accept prepaid credits without a subscription. 7 fixed-price lookups also accept direct MPP payments. Write and automation endpoints require an API key or OAuth 2.1 bearer token.\n\n## Client Libraries\n\nSee the current [SDK, CLI, and Terraform guides](https://docs.xquik.com/sdks) and [TweetClaw setup](https://docs.xquik.com/guides/tweetclaw).","x-guidance":"## Common tasks\n\n**Find a tweet** - GET /x/tweets/{id}. Returns text, author, metrics, media, and creation time. Cost: $0.00015 per lookup.\n\n**Search tweets** - GET /x/tweets/search?q={query}&limit={n}. Supports X operators, structured filters, Tweet IDs, and status URLs. Omit mode for automatic coverage. Cost: $0.00015 per returned tweet.\n\n**Find a user** - GET /x/users/{id}. Accepts an ID or username. Cost: $0.00015 per lookup.\n\n**Check if A follows B** - GET /x/followers/check?source={a}&target={b}. Accepts usernames or profile URLs. Cost: $0.00075.\n\n**Get trends** - GET /trends?woeid={region}&count={n}. WOEID 1 is worldwide. Cost: $0.00045.\n\n**Download media** - POST /x/media/download with `tweetIds`. Fresh Tweets cost 1 credit each. Cached repeats are free.\n\n**Read an article** - GET /x/articles/{tweetId}. Cost: $0.00075.\n\n## Pagination\n\nDefault platform pages return `hasMore` and `nextCursor`. X pages return `has_next_page` and `next_cursor`. The 2026-04-29 contract returns `has_more` and `next_cursor`. Pass cursors through `cursor`; `after` remains compatible. Dynamic pricing counts returned items, not requests.\n\nOmit `mode` for automatic reads. Pass cursors unchanged. `mode=standard` remains legacy. Retry 409 responses after `Retry-After`. Restart 410 responses without a cursor.\n\n## Authentication\n\nEligible reads accept guest wallets. Fixed-price lookups also accept MPP. Other features require an API key or OAuth 2.1 bearer token. API keys also support `Authorization: Bearer xq_...`.\n\n## Best-Practice Response Contract\n\nv1 remains the default. Send `xquik-api-contract: 2026-04-29` for snake_case, Unix timestamps, structured errors, unified pagination, resource objects, and prefixed IDs. Dependency failures use 424 instead of 502.","contact":{"name":"Xquik","url":"https://xquik.com","email":"support@xquik.com"}},"servers":[{"url":"https://xquik.com"}],"x-service-info":{"categories":["data"],"docs":{"homepage":"https://xquik.com","apiReference":"https://docs.xquik.com","llms":"https://docs.xquik.com/llms.txt"}},"x-discovery":{"ownershipProofs":["dns:xquik.com"]},"security":[{"apiKey":[]},{"oauthBearer":[]}],"tags":[{"name":"API Keys","description":"API key management (session auth only)"},{"name":"Account","description":"Account info and settings"},{"name":"Articles","description":"Long-form X Article extraction"},{"name":"Communities","description":"X Community info, members, and tweets"},{"name":"Composition","description":"AI tweet composition, drafts, writing styles, and radar"},{"name":"Draws","description":"Giveaway draws from tweet replies"},{"name":"Events","description":"Activity events from monitored accounts"},{"name":"Extractions","description":"Bulk data extraction (23 tool types)"},{"name":"Guest Wallets","description":"Accountless prepaid access for paid read endpoints"},{"name":"Lists","description":"X List followers, members, and tweets"},{"name":"Media","description":"Media upload and download"},{"name":"Monitors","description":"X account monitoring with 1-second checks"},{"name":"Subscribe","description":"Subscription, billing, and credits"},{"name":"Support","description":"Support ticket management"},{"name":"Trends","description":"Trending topics and hashtags by region"},{"name":"Tweets","description":"Look up, search, and analyze individual tweets"},{"name":"Users","description":"Look up, search, and explore user profiles and relationships"},{"name":"Webhooks","description":"Webhook endpoint management and delivery"},{"name":"X Accounts","description":"Connected X account management"},{"name":"X Write","description":"X write actions (tweets, likes, follows, DMs)"}],"paths":{"/api/v1/account":{"get":{"operationId":"getAccount","summary":"Get account info","tags":["Account"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"responses":{"200":{"description":"Account info","content":{"application/json":{"schema":{"type":"object","required":["plan","monitorsUsed","monitorsAllowed","monitorBilling"],"properties":{"plan":{"type":"string","enum":["active","inactive"],"example":"active"},"monitorsUsed":{"type":"integer","example":3},"monitorsAllowed":{"type":"integer","deprecated":true,"x-stainless-deprecation-message":"Monitor slots are unlimited. Use monitorBilling.unlimitedSlots instead.","description":"Deprecated. Monitor slots are unlimited, so this is always Number.MAX_SAFE_INTEGER.","example":9007199254740991},"monitorBilling":{"type":"object","required":["activeDailyEstimate","activeHourlyBurn","creditsPerActiveMonitorDay","creditsPerActiveMonitorHour","eventsIncluded","instantCheckIntervalSeconds","unlimitedSlots"],"properties":{"activeDailyEstimate":{"type":"string","description":"Estimated daily credits for currently active monitors.","example":"1500"},"activeHourlyBurn":{"type":"string","description":"Credits charged each hour for currently active monitors.","example":"63"},"creditsPerActiveMonitorDay":{"type":"string","description":"Rounded daily estimate for 1 active monitor.","example":"500"},"creditsPerActiveMonitorHour":{"type":"string","description":"Hourly credits charged for 1 active monitor.","example":"21"},"eventsIncluded":{"type":"boolean","description":"Webhook and event deliveries are included in monitor billing.","example":true},"instantCheckIntervalSeconds":{"type":"integer","description":"Active monitors check every 1 second.","example":1},"unlimitedSlots":{"type":"boolean","description":"Monitor slot count is unlimited.","example":true}}},"creditInfo":{"type":"object","required":["balance","lifetimePurchased","lifetimeUsed","autoTopupEnabled","autoTopupAmountDollars","autoTopupThreshold"],"properties":{"balance":{"type":"string","description":"Bigint string to preserve precision above Number.MAX_SAFE_INTEGER.","example":"50000"},"lifetimePurchased":{"type":"string","description":"Total purchased credits as a bigint string.","example":"140000"},"lifetimeUsed":{"type":"string","description":"Total consumed credits as a bigint string.","example":"90000"},"autoTopupEnabled":{"type":"boolean","example":false},"autoTopupAmountDollars":{"type":"number","description":"Dollar amount charged when automatic top-up runs.","example":10},"autoTopupThreshold":{"type":"string","description":"Bigint string threshold that triggers automatic top-up when enabled.","example":"50000"}},"example":{"balance":"50000","lifetimePurchased":"140000","lifetimeUsed":"90000","autoTopupEnabled":false,"autoTopupAmountDollars":10,"autoTopupThreshold":"50000"}},"xUsername":{"type":"string","description":"Linked X username, omitted when no X account is connected.","example":"elonmusk"}}},"example":{"plan":"active","monitorsUsed":3,"monitorsAllowed":9007199254740991,"monitorBilling":{"activeDailyEstimate":"1500","activeHourlyBurn":"63","creditsPerActiveMonitorDay":"500","creditsPerActiveMonitorHour":"21","eventsIncluded":true,"instantCheckIntervalSeconds":1,"unlimitedSlots":true},"creditInfo":{"balance":"50000","lifetimePurchased":"140000","lifetimeUsed":"90000","autoTopupEnabled":false,"autoTopupAmountDollars":10,"autoTopupThreshold":"50000"},"xUsername":"elonmusk"}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get account info."},"patch":{"operationId":"updateAccount","summary":"Update account locale","tags":["Account"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Locale preference for the account.","content":{"application/json":{"schema":{"type":"object","required":["locale"],"properties":{"locale":{"type":"string","enum":["en","tr","es"],"example":"en"}}},"example":{"locale":"en"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Update account locale."}},"/api/v1/account/x-identity":{"put":{"operationId":"setXIdentity","summary":"Set linked X username","tags":["Account"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"X username to link to this account.","content":{"application/json":{"schema":{"type":"object","required":["username"],"properties":{"username":{"type":"string","description":"X username without @","example":"elonmusk"}}},"example":{"username":"elonmusk"}}}},"responses":{"200":{"description":"X identity linked","content":{"application/json":{"schema":{"type":"object","required":["success","xUsername"],"properties":{"success":{"type":"boolean","const":true},"xUsername":{"type":"string","example":"elonmusk"}}},"example":{"success":true,"xUsername":"elonmusk"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Set linked X username."}},"/api/v1/api-keys":{"get":{"operationId":"listApiKeys","summary":"List API keys","tags":["API Keys"],"security":[{"cookieSession":[]}],"responses":{"200":{"description":"API key list","content":{"application/json":{"schema":{"type":"object","required":["keys"],"properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"},"example":[]}}},"example":{"keys":[]}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List API keys."},"post":{"operationId":"createApiKey","summary":"Create API key","tags":["API Keys"],"security":[{"cookieSession":[]}],"requestBody":{"required":true,"description":"Optional display name for the new API key.","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My API Key"}}},"example":{"name":"My API Key"}}}},"responses":{"201":{"description":"API key created","content":{"application/json":{"schema":{"type":"object","required":["id","fullKey","name","prefix","createdAt"],"properties":{"id":{"type":"string","example":"42"},"fullKey":{"type":"string","example":"xq_live_abc123def456"},"name":{"type":"string","example":"My API Key"},"prefix":{"type":"string","example":"xq_live_abc1"},"createdAt":{"type":"string","format":"date-time","example":"2025-01-15T12:00:00Z"}}},"example":{"id":"42","fullKey":"xq_live_abc123def456","name":"My API Key","prefix":"xq_live_abc1","createdAt":"2025-01-15T12:00:00Z"}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"403":{"description":"API key limit reached","content":{"application/json":{"schema":{"type":"object","required":["error","limit","message"],"properties":{"error":{"type":"string","const":"api_key_limit_reached","example":"api_key_limit_reached"},"limit":{"type":"integer","example":100},"message":{"type":"string","example":"API key limit reached. Delete an existing key first."}}},"example":{"error":"api_key_limit_reached","limit":100,"message":"API key limit reached. Delete an existing key first."}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Create API key."}},"/api/v1/api-keys/{id}":{"delete":{"operationId":"revokeApiKey","summary":"Revoke API key","tags":["API Keys"],"security":[{"cookieSession":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Revoke API key."}},"/api/v1/subscribe":{"post":{"operationId":"subscribe","summary":"Create subscription checkout","description":"Create a subscription checkout or billing-management URL only after the user confirms. The request never completes payment by itself.\n","tags":["Subscribe"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":false,"description":"Optional subscription tier to pre-select at checkout.","content":{"application/json":{"schema":{"type":"object","properties":{"tier":{"type":"string","enum":["starter","pro","business"],"description":"Subscription tier to pre-select.","example":"pro"}}},"example":{"tier":"pro"}}}},"responses":{"200":{"description":"Billing URL","content":{"application/json":{"schema":{"type":"object","required":["url","status","message"],"properties":{"url":{"type":"string","format":"uri","example":"https://xquik.com/billing/session"},"status":{"type":"string","enum":["checkout_created","already_subscribed","payment_issue"],"example":"checkout_created"},"message":{"type":"string","example":"Billing session created"}}},"example":{"url":"https://xquik.com/billing/session","status":"checkout_created","message":"Billing session created"}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/compose":{"post":{"operationId":"compose","summary":"Build, refine, or check a post draft","description":"Run one step of Xquik's three-step writing workflow. Compose returns questions, editorial rules, and source-specific Radar recommendations. Refine returns goal-specific guidance. Score applies deterministic text checks. It does not predict reach or expose X ranking weights.\n","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Send exactly one workflow step and its required fields.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ComposePrepareRequest"},{"$ref":"#/components/schemas/ComposeRefineRequest"},{"$ref":"#/components/schemas/ComposeScoreRequest"}]},"example":{"step":"compose","topic":"PostgreSQL query planning","goal":"engagement"}}}},"responses":{"200":{"description":"Result for the requested workflow step","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ComposePrepareResult"},{"$ref":"#/components/schemas/ComposeRefineResult"},{"$ref":"#/components/schemas/ComposeScoreResult"}]},"example":{"checklist":[{"factor":"No external links in body","passed":true},{"factor":"No hashtags","passed":true},{"factor":"No excessive capitalization","passed":true},{"factor":"Length between 50 and 280 characters","passed":true},{"factor":"No excessive punctuation","passed":true},{"factor":"No emojis","passed":true},{"factor":"No em dashes or double dashes","passed":true},{"factor":"Sufficient substance","passed":true},{"factor":"Link-in-reply strategy","passed":true}],"nextStep":"All 9 checks passed. Get an account from GET /api/v1/x/accounts. Then send the draft to POST /api/v1/x/tweets. The intentUrl also supports one-click posting.\n","passed":true,"passedCount":9,"topSuggestion":"All Xquik editorial checks passed.","totalChecks":9,"intentUrl":"https://x.com/intent/tweet?text=PostgreSQL%2018%20reduced%20query%20latency"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/drafts":{"get":{"operationId":"listDrafts","summary":"List saved drafts","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/Limit"},{"name":"afterCursor","in":"query","schema":{"type":"string"},"description":"Cursor for pagination"}],"responses":{"200":{"description":"Draft list","content":{"application/json":{"schema":{"type":"object","required":["drafts","hasMore"],"properties":{"drafts":{"type":"array","items":{"$ref":"#/components/schemas/Draft"},"example":[]},"hasMore":{"type":"boolean","example":false},"nextCursor":{"type":"string","example":"abc123"}}},"example":{"drafts":[],"hasMore":false}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List saved drafts."},"post":{"operationId":"createDraft","summary":"Save a tweet draft","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Draft text with optional topic and optimization goal.","content":{"application/json":{"schema":{"type":"object","required":["text"],"properties":{"text":{"type":"string","example":"AI is the future of productivity"},"topic":{"type":"string","example":"AI trends"},"goal":{"type":"string","enum":["engagement","followers","authority","conversation"],"example":"engagement"}}},"example":{"text":"AI is the future of productivity","topic":"AI trends","goal":"engagement"}}}},"responses":{"201":{"description":"Draft created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DraftDetail"},"example":{"id":"42","text":"AI is the future of productivity","topic":"AI trends","goal":"engagement","createdAt":"2025-01-15T12:00:00Z","updatedAt":"2025-01-16T09:30:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Save a tweet draft."}},"/api/v1/drafts/{id}":{"get":{"operationId":"getDraft","summary":"Get draft by ID","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Draft details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DraftDetail"},"example":{"id":"42","text":"AI is the future of productivity","topic":"AI trends","goal":"engagement","createdAt":"2025-01-15T12:00:00Z","updatedAt":"2025-01-16T09:30:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get draft by ID."},"delete":{"operationId":"deleteDraft","summary":"Delete a draft","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Delete a draft."}},"/api/v1/styles":{"get":{"operationId":"listStyles","summary":"List cached style profiles","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"responses":{"200":{"description":"Style profile list","content":{"application/json":{"schema":{"type":"object","required":["styles"],"properties":{"styles":{"type":"array","items":{"$ref":"#/components/schemas/StyleProfileSummary"},"example":[]}}},"example":{"styles":[]}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List cached style profiles."},"post":{"operationId":"analyzeStyle","summary":"Analyze writing style from recent tweets","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"X username whose recent tweets define the style.","content":{"application/json":{"schema":{"type":"object","required":["username"],"properties":{"username":{"type":"string","description":"X username to analyze","example":"elonmusk"}}},"example":{"username":"elonmusk"}}}},"responses":{"200":{"description":"Fresh cached style profile returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StyleProfile"},"example":{"xUsername":"elonmusk","tweetCount":50,"isOwnAccount":true,"fetchedAt":"2025-01-15T12:00:00Z","tweets":[{"id":"1234567890","text":"Just launched our new feature!"}]}}}},"201":{"description":"Style profile created or refreshed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StyleProfile"},"example":{"xUsername":"elonmusk","tweetCount":50,"isOwnAccount":true,"fetchedAt":"2025-01-15T12:00:00Z","tweets":[{"id":"1234567890","text":"Just launched our new feature!"}]}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Analyze writing style from recent tweets."}},"/api/v1/styles/compare":{"get":{"operationId":"compareStyles","summary":"Compare two style profiles","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"name":"username1","in":"query","required":true,"schema":{"type":"string"},"description":"First username to compare"},{"name":"username2","in":"query","required":true,"schema":{"type":"string"},"description":"Second username to compare"}],"responses":{"200":{"description":"Style comparison","content":{"application/json":{"schema":{"type":"object","required":["style1","style2"],"properties":{"style1":{"$ref":"#/components/schemas/StyleProfile"},"style2":{"$ref":"#/components/schemas/StyleProfile"}}},"example":{"style1":{"xUsername":"elonmusk","tweetCount":50,"isOwnAccount":true,"fetchedAt":"2025-01-15T12:00:00Z","tweets":[{"id":"1234567890","text":"Just launched our new feature!"}]},"style2":{"xUsername":"BillGates","tweetCount":40,"isOwnAccount":false,"fetchedAt":"2025-01-15T12:00:00Z","tweets":[{"id":"9876543210","text":"Climate change is a global challenge."}]}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Compare two style profiles."}},"/api/v1/styles/{id}":{"get":{"operationId":"getStyle","summary":"Get cached style profile","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/StyleId"}],"responses":{"200":{"description":"Style profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StyleProfile"},"example":{"xUsername":"elonmusk","tweetCount":50,"isOwnAccount":true,"fetchedAt":"2025-01-15T12:00:00Z","tweets":[{"id":"1234567890","text":"Just launched our new feature!"}]}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get cached style profile."},"put":{"operationId":"saveStyle","summary":"Save style profile with custom tweets","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/StyleId"}],"requestBody":{"required":true,"description":"Label and sample tweets that define the style profile.","content":{"application/json":{"schema":{"type":"object","required":["label","tweets"],"properties":{"label":{"type":"string","description":"Display label for the style","example":"Professional Voice"},"tweets":{"type":"array","items":{"type":"object","required":["text"],"properties":{"text":{"type":"string","example":"Excited to share our latest research findings."}}},"description":"Array of tweet objects","example":[{"text":"Excited to share our latest research findings."}]}}},"example":{"label":"Professional Voice","tweets":[{"text":"Excited to share our latest research findings."}]}}}},"responses":{"200":{"description":"Style profile saved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StyleProfile"},"example":{"xUsername":"professional voice","tweetCount":1,"isOwnAccount":false,"fetchedAt":"2026-08-02T18:30:00.000Z","tweets":[{"id":"0","text":"Excited to share our latest research findings.","authorUsername":"professional voice","createdAt":"2026-08-02T18:30:00.000Z"}]}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Save style profile with custom tweets."},"delete":{"operationId":"deleteStyle","summary":"Delete a style profile","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/StyleId"}],"responses":{"204":{"$ref":"#/components/responses/NoContent"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Delete a style profile."}},"/api/v1/styles/{id}/performance":{"get":{"operationId":"getStylePerformance","summary":"Get engagement metrics for style tweets","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/StyleId"}],"responses":{"200":{"description":"Performance metrics","content":{"application/json":{"schema":{"type":"object","required":["xUsername","tweetCount","tweets"],"properties":{"xUsername":{"type":"string","example":"elonmusk"},"tweetCount":{"type":"integer","example":5},"tweets":{"type":"array","items":{"type":"object","required":["id","text"],"properties":{"id":{"type":"string","example":"1234567890"},"text":{"type":"string","example":"Excited to share our latest research findings."},"likeCount":{"type":"integer","example":120},"retweetCount":{"type":"integer","example":15},"replyCount":{"type":"integer","example":8},"viewCount":{"type":"integer","example":5000},"createdAt":{"type":"string","example":"2025-01-15T12:00:00Z"}}},"example":[{"id":"1234567890","text":"Excited to share our latest research findings.","likeCount":120,"retweetCount":15,"replyCount":8,"viewCount":5000,"createdAt":"2025-01-15T12:00:00Z"}]}}},"example":{"xUsername":"elonmusk","tweetCount":5,"tweets":[{"id":"1234567890","text":"Excited to share our latest research findings.","likeCount":120,"retweetCount":15,"replyCount":8,"viewCount":5000,"createdAt":"2025-01-15T12:00:00Z"}]}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get engagement metrics for style tweets."}},"/api/v1/radar":{"get":{"operationId":"getRadar","summary":"Get trending topics from curated sources","tags":["Composition"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"name":"after","in":"query","schema":{"type":"string"},"description":"Cursor for pagination (from prior response nextCursor)."},{"name":"category","in":"query","schema":{"type":"string","enum":["general","tech","dev","science","culture","politics","business","entertainment"]},"description":"Filter by category."},{"name":"hours","in":"query","schema":{"type":"integer","minimum":1,"maximum":72,"default":6},"description":"Lookback window in hours (1-72, default 6)."},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"description":"Number of items to return (1-100, default 50)."},{"name":"region","in":"query","schema":{"type":"string","default":"global"},"description":"Region filter. Use `global` or a region code such as `US`, `GB`, `TR`, or `ES`."},{"name":"source","in":"query","schema":{"type":"string","enum":["github","google_trends","hacker_news","polymarket","reddit","trustmrr","wikipedia"]},"description":"Source filter. One of: github, google_trends, hacker_news, polymarket, reddit, trustmrr, wikipedia"}],"responses":{"200":{"description":"Radar items","content":{"application/json":{"schema":{"type":"object","required":["hasMore","items"],"properties":{"hasMore":{"type":"boolean","example":false},"items":{"type":"array","items":{"$ref":"#/components/schemas/RadarItem"},"example":[]},"nextCursor":{"type":"string","description":"Opaque cursor for the next page (present only when hasMore is true).","example":"eyJ0IjoxNzM5OTcyODAwLCJpIjoiOTk5In0="}}},"example":{"hasMore":false,"items":[]}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get trending topics from curated sources."}},"/api/v1/monitors":{"get":{"operationId":"listMonitors","summary":"List monitors","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"responses":{"200":{"description":"Monitor list","content":{"application/json":{"schema":{"type":"object","required":["monitors","total"],"properties":{"monitors":{"type":"array","items":{"$ref":"#/components/schemas/Monitor"},"example":[]},"total":{"type":"integer","example":0}}},"example":{"monitors":[],"total":0}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List monitors."},"post":{"operationId":"createMonitor","summary":"Create monitor","description":"Creates an account monitor. Monitors are unlimited. Active monitors check every 1 second and cost 21 credits per hour. Events and webhook deliveries are included. Creation requires available credits for the first hourly charge and username lookup.","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Target X username and event types to monitor.","content":{"application/json":{"schema":{"type":"object","required":["username","eventTypes"],"properties":{"username":{"type":"string","description":"X username (without @)","example":"elonmusk"},"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new","tweet.reply"]}}},"example":{"username":"elonmusk","eventTypes":["tweet.new","tweet.reply"]}}}},"responses":{"201":{"description":"Monitor created","content":{"application/json":{"schema":{"type":"object","required":["id","username","xUserId","eventTypes","isActive","createdAt","nextBillingAt"],"properties":{"id":{"type":"string","example":"42"},"username":{"type":"string","example":"elonmusk"},"xUserId":{"type":"string","example":"1234567890"},"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new","tweet.reply"]},"isActive":{"type":"boolean","example":true},"createdAt":{"type":"string","format":"date-time","example":"2025-01-15T12:00:00Z"},"nextBillingAt":{"type":"string","format":"date-time","description":"Next hourly credit charge time. New active monitors are due immediately.","example":"2025-01-15T12:00:00Z"}}},"example":{"id":"42","username":"elonmusk","xUserId":"1234567890","eventTypes":["tweet.new","tweet.reply"],"isActive":true,"createdAt":"2025-01-15T12:00:00Z","nextBillingAt":"2025-01-15T12:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"$ref":"#/components/responses/UserNotFound"},"409":{"description":"Monitor already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"monitor_already_exists","message":"Monitor already exists."}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/monitors/keywords":{"get":{"operationId":"listKeywordMonitors","summary":"List keyword monitors","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"responses":{"200":{"description":"Keyword monitor list","content":{"application/json":{"schema":{"type":"object","required":["monitors","total"],"properties":{"monitors":{"type":"array","items":{"$ref":"#/components/schemas/KeywordMonitor"},"example":[]},"total":{"type":"integer","example":0}}},"example":{"monitors":[],"total":0}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List keyword monitors."},"post":{"operationId":"createKeywordMonitor","summary":"Create keyword monitor","description":"Creates a keyword monitor. Keyword monitors are unlimited. Active monitors check every 1 second and cost 21 credits per hour. Events and webhook deliveries are included. Creation requires available credits for the first hourly charge.","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Search query and event types to monitor.","content":{"application/json":{"schema":{"type":"object","required":["query","eventTypes"],"properties":{"query":{"type":"string","minLength":1,"maxLength":512,"description":"X search query to monitor. Whitespace is normalized.","example":"xquik OR \"x api\""},"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new"]}}},"example":{"query":"xquik OR \"x api\"","eventTypes":["tweet.new"]}}}},"responses":{"201":{"description":"Keyword monitor created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordMonitor"},"example":{"id":"21","query":"xquik OR \"x api\"","eventTypes":["tweet.new"],"isActive":true,"createdAt":"2025-01-15T12:00:00Z","nextBillingAt":"2025-01-15T12:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"409":{"description":"Keyword monitor already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"monitor_already_exists","message":"Monitor already exists."}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/monitors/keywords/{id}":{"get":{"operationId":"getKeywordMonitor","summary":"Get keyword monitor","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Keyword monitor details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordMonitor"},"example":{"id":"21","query":"xquik OR \"x api\"","eventTypes":["tweet.new"],"isActive":true,"createdAt":"2025-01-15T12:00:00Z","nextBillingAt":"2025-01-15T13:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get keyword monitor."},"patch":{"operationId":"updateKeywordMonitor","summary":"Update keyword monitor","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"requestBody":{"required":true,"description":"Updated event types or active status.","content":{"application/json":{"schema":{"type":"object","properties":{"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new"]},"isActive":{"type":"boolean","example":true}}},"example":{"eventTypes":["tweet.new"],"isActive":true}}}},"responses":{"200":{"description":"Keyword monitor updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeywordMonitor"},"example":{"id":"21","query":"xquik OR \"x api\"","eventTypes":["tweet.new"],"isActive":true,"createdAt":"2025-01-15T12:00:00Z","nextBillingAt":"2025-01-15T13:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Update keyword monitor."},"delete":{"operationId":"deleteKeywordMonitor","summary":"Delete keyword monitor","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Delete keyword monitor."}},"/api/v1/monitors/{id}":{"get":{"operationId":"getMonitor","summary":"Get monitor","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Monitor details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Monitor"},"example":{"id":"42","username":"elonmusk","xUserId":"1234567890","eventTypes":["tweet.new","tweet.reply"],"isActive":true,"createdAt":"2025-01-15T12:00:00Z","nextBillingAt":"2025-01-15T13:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get monitor."},"patch":{"operationId":"updateMonitor","summary":"Update monitor","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"requestBody":{"required":true,"description":"Event type list or active state for the account monitor.","content":{"application/json":{"schema":{"type":"object","properties":{"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new"]},"isActive":{"type":"boolean","example":true}}},"example":{"eventTypes":["tweet.new"],"isActive":true}}}},"responses":{"200":{"description":"Monitor updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Monitor"},"example":{"id":"42","username":"elonmusk","xUserId":"1234567890","eventTypes":["tweet.new"],"isActive":true,"createdAt":"2025-01-15T12:00:00Z","nextBillingAt":"2025-01-15T13:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"The monitored X account is still unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"monitor_profile_unavailable","message":"X account unavailable. Restore it before resuming."}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Update monitor."},"delete":{"operationId":"deleteMonitor","summary":"Delete monitor","tags":["Monitors"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Delete monitor."}},"/api/v1/events":{"get":{"operationId":"listEvents","summary":"List events","tags":["Events"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/After"},{"name":"monitorId","in":"query","description":"Account monitor ID.","schema":{"type":"string"}},{"name":"keywordMonitorId","in":"query","description":"Keyword monitor ID.","schema":{"type":"string"}},{"name":"eventType","in":"query","description":"Filter events by type","schema":{"$ref":"#/components/schemas/EventType"}}],"responses":{"200":{"description":"Event list","content":{"application/json":{"schema":{"type":"object","required":["events","hasMore"],"properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/Event"},"example":[]},"hasMore":{"type":"boolean","example":false},"nextCursor":{"type":"string","example":"abc123"}}},"example":{"events":[],"hasMore":false}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List events."}},"/api/v1/events/{id}":{"get":{"operationId":"getEvent","summary":"Get event","tags":["Events"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Event details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDetail"},"example":{"id":"42","type":"tweet.new","username":"elonmusk","monitorId":"7","monitorType":"account","occurredAt":"2025-01-15T12:00:00Z","data":{"tweetId":"1234567890"}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get event."}},"/api/v1/extractions":{"get":{"operationId":"listExtractions","summary":"List extraction jobs","tags":["Extractions"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/After"},{"name":"toolType","in":"query","description":"Filter by extraction tool type","schema":{"$ref":"#/components/schemas/ExtractionToolType"}},{"name":"status","in":"query","description":"Filter by job status","schema":{"type":"string","enum":["running","completed","failed"]}}],"responses":{"200":{"description":"Extraction job list","content":{"application/json":{"schema":{"type":"object","required":["extractions","hasMore"],"properties":{"extractions":{"type":"array","items":{"$ref":"#/components/schemas/ExtractionJob"},"example":[]},"hasMore":{"type":"boolean","example":false},"nextCursor":{"type":"string","example":"abc123"}}},"example":{"extractions":[],"hasMore":false}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List extraction jobs."},"post":{"operationId":"createExtraction","summary":"Run extraction","tags":["Extractions"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"name":"dry_run","in":"query","description":"Estimate cost without creating an extraction.","schema":{"type":"boolean","default":false},"example":true}],"requestBody":{"required":true,"description":"Tool type and target identifier (tweet, user, community, list, or search query).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractionRequest"},"example":{"toolType":"follower_explorer","targetUsername":"elonmusk"}}}},"responses":{"200":{"description":"Dry-run estimate","content":{"application/json":{"schema":{"type":"object","required":["allowed","creditsAvailable","creditsRequired","estimatedResults","source"],"properties":{"allowed":{"type":"boolean"},"creditsAvailable":{"type":"string"},"creditsRequired":{"type":"string"},"estimatedResults":{"type":"integer"},"resolvedXUserId":{"type":"string"},"source":{"type":"string"}}},"example":{"allowed":true,"creditsAvailable":"10000","creditsRequired":"1000","estimatedResults":1000,"source":"profile"}}}},"202":{"description":"Extraction started","content":{"application/json":{"schema":{"type":"object","required":["id","toolType","status"],"properties":{"id":{"type":"string","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"toolType":{"$ref":"#/components/schemas/ExtractionToolType","example":"follower_explorer"},"status":{"type":"string","const":"running","example":"running"}}},"example":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","toolType":"follower_explorer","status":"running"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"$ref":"#/components/responses/NotFound"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Run extraction."}},"/api/v1/extractions/estimate":{"post":{"operationId":"estimateExtraction","summary":"Estimate extraction cost","tags":["Extractions"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Same parameters as a real extraction; returns estimated credit cost without running the job.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractionRequest"},"example":{"toolType":"follower_explorer","targetUsername":"elonmusk"}}}},"responses":{"200":{"description":"Extraction estimate","content":{"application/json":{"schema":{"type":"object","required":["estimatedResults","creditsRequired","creditsAvailable","allowed","source"],"properties":{"estimatedResults":{"type":"integer","example":500},"creditsRequired":{"type":"string","example":"500"},"creditsAvailable":{"type":"string","example":"50000"},"allowed":{"type":"boolean","example":true},"source":{"type":"string","enum":["followers","following","collection","paginationCap","posts","quoteCount","replyCount","resultsLimit","retweetCount","unknown"],"example":"replyCount"},"resolvedXUserId":{"type":"string","example":"123456"}}},"example":{"estimatedResults":500,"creditsRequired":"500","creditsAvailable":"50000","allowed":true,"source":"replyCount"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Estimate extraction cost."}},"/api/v1/extractions/{id}":{"get":{"operationId":"getExtraction","summary":"Get extraction results","tags":["Extractions"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Extraction public ID (UUID)"},{"name":"limit","in":"query","description":"Maximum number of results to return (1-1000, default 100)","schema":{"type":"integer","minimum":1,"maximum":1000,"default":100}},{"$ref":"#/components/parameters/After"},{"name":"outputMode","in":"query","description":"Select compact, full, or raw-compatible result fields.","schema":{"type":"string","enum":["compact","full","raw"],"default":"full"}},{"name":"outputPreset","in":"query","description":"Keep enrichment nested or merge it into each result.","schema":{"type":"string","enum":["nested","flat"],"default":"nested"}},{"name":"fieldStyle","in":"query","description":"Preserve source keys or convert result field names.","schema":{"type":"string","enum":["source","camelCase","snake_case"],"default":"source"}},{"name":"includeRaw","in":"query","deprecated":true,"description":"Use outputMode=raw instead.","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Extraction job with results","content":{"application/json":{"schema":{"type":"object","required":["job","results","hasMore"],"properties":{"job":{"type":"object","additionalProperties":true,"x-stainless-any":true,"description":"Extraction job metadata - shape varies by tool type (JSON)","x-stainless-terraform-type":"string","example":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","toolType":"follower_explorer","status":"completed"}},"results":{"type":"array","items":{"type":"object","additionalProperties":true},"example":[]},"hasMore":{"type":"boolean","example":false},"nextCursor":{"type":"string","example":"abc123"}}},"example":{"job":{"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","toolType":"follower_explorer","status":"completed"},"results":[],"hasMore":false}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get extraction results."}},"/api/v1/extractions/{id}/export":{"get":{"operationId":"exportExtraction","summary":"Export extraction results","tags":["Extractions"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Extraction public ID"},{"name":"format","in":"query","required":true,"description":"Export file format","schema":{"type":"string","enum":["csv","json","md","md-document","pdf","txt","xlsx"]}},{"name":"minFollowers","in":"query","schema":{"type":"integer"},"description":"Minimum follower count."},{"name":"maxFollowers","in":"query","schema":{"type":"integer"},"description":"Maximum follower count."},{"name":"minFollowing","in":"query","schema":{"type":"integer"},"description":"Minimum following count."},{"name":"maxFollowing","in":"query","schema":{"type":"integer"},"description":"Maximum following count."},{"name":"minPosts","in":"query","schema":{"type":"integer"},"description":"Minimum post count."},{"name":"maxPosts","in":"query","schema":{"type":"integer"},"description":"Maximum post count."},{"name":"minLikes","in":"query","schema":{"type":"integer"},"description":"Minimum like count."},{"name":"minReplies","in":"query","schema":{"type":"integer"},"description":"Minimum reply count."},{"name":"minRetweets","in":"query","schema":{"type":"integer"},"description":"Minimum repost count."},{"name":"minViews","in":"query","schema":{"type":"integer"},"description":"Minimum view count."},{"name":"hasDescription","in":"query","schema":{"type":"boolean"},"description":"Require a non-empty description."},{"name":"hasLocation","in":"query","schema":{"type":"boolean"},"description":"Require a non-empty location."},{"name":"hasMedia","in":"query","schema":{"type":"boolean"},"description":"Require media."},{"name":"verified","in":"query","schema":{"type":"boolean"},"description":"Filter by verified status."},{"name":"lang","in":"query","schema":{"type":"string"},"description":"Filter by language code."},{"name":"search","in":"query","schema":{"type":"string"},"description":"Search exported result text."},{"name":"sinceDate","in":"query","schema":{"type":"string","format":"date"},"description":"Include results on or after this date."},{"name":"untilDate","in":"query","schema":{"type":"string","format":"date"},"description":"Include results on or before this date."}],"responses":{"200":{"description":"Exported file","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Export extraction results."}},"/api/v1/draws":{"get":{"operationId":"listDraws","summary":"List draws","tags":["Draws"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/After"}],"responses":{"200":{"description":"Draw list","content":{"application/json":{"schema":{"type":"object","required":["draws","hasMore"],"properties":{"draws":{"type":"array","items":{"$ref":"#/components/schemas/DrawListItem"},"example":[]},"hasMore":{"type":"boolean","example":false},"nextCursor":{"type":"string","example":"abc123"}}},"example":{"draws":[],"hasMore":false}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List draws."},"post":{"operationId":"createDraw","summary":"Run giveaway draw","description":"Runs a giveaway draw from a source tweet. The draw first checks the minimum credits needed to inspect the source tweet and at least one candidate. Remaining credits cap how many replies and retweeters can be inspected before filters and winner selection run.","tags":["Draws"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"Tweet URL, winner count, and optional eligibility filters (retweet, follow, keywords, hashtags, account age).","content":{"application/json":{"schema":{"type":"object","required":["tweetUrl"],"properties":{"tweetUrl":{"type":"string","format":"uri","example":"https://x.com/elonmusk/status/1234567890"},"winnerCount":{"type":"integer","default":1,"example":3},"backupCount":{"type":"integer","example":2},"uniqueAuthorsOnly":{"type":"boolean","example":true},"mustRetweet":{"type":"boolean","example":true},"mustFollowUsername":{"type":"string","example":"elonmusk"},"filterMinFollowers":{"type":"integer","example":50},"filterAccountAgeDays":{"type":"integer","example":30},"filterLanguage":{"type":"string","example":"en"},"requiredHashtags":{"type":"array","items":{"type":"string"},"example":["#giveaway"]},"requiredKeywords":{"type":"array","items":{"type":"string"},"example":["entered"]},"requiredMentions":{"type":"array","items":{"type":"string"},"example":["@elonmusk"]}}},"example":{"tweetUrl":"https://x.com/elonmusk/status/1234567890","winnerCount":3,"mustRetweet":true}}}},"responses":{"201":{"description":"Draw completed","content":{"application/json":{"schema":{"type":"object","required":["id","tweetId","totalEntries","validEntries","winners"],"properties":{"id":{"type":"string","example":"f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345"},"tweetId":{"type":"string","example":"1234567890"},"totalEntries":{"type":"integer","description":"Candidate entries inspected for this draw after the credit-derived cap. This may be lower than the source tweet's full reply count.","example":250},"validEntries":{"type":"integer","description":"Entries from the inspected candidate set that passed all filters. This is not necessarily every valid reply on the source tweet when credits cap inspection.","example":200},"winners":{"type":"array","items":{"$ref":"#/components/schemas/Winner"},"example":[]}}},"example":{"id":"f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345","tweetId":"1234567890","totalEntries":250,"validEntries":200,"winners":[]}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"description":"Insufficient usable credits. Draws can fail before execution when the available balance cannot cover the minimum draw cost. A draw can also fail after execution when its final computed cost cannot be deducted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"insufficient_credits","message":"Insufficient credits"}}}},"404":{"$ref":"#/components/responses/NotFound"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/draws/{id}":{"get":{"operationId":"getDraw","summary":"Get draw details","tags":["Draws"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/DrawId"}],"responses":{"200":{"description":"Draw with winners","content":{"application/json":{"schema":{"type":"object","required":["draw","winners"],"properties":{"draw":{"$ref":"#/components/schemas/DrawDetail","example":{"id":"f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345","tweetUrl":"https://x.com/elonmusk/status/1234567890","tweetId":"1234567890","tweetText":"Giving away 3 Tesla Model 3s!","tweetAuthorUsername":"elonmusk","status":"completed","totalEntries":250,"validEntries":200,"tweetLikeCount":50000,"tweetRetweetCount":25000,"tweetReplyCount":10000,"tweetQuoteCount":5000,"createdAt":"2025-01-15T12:00:00Z"}},"winners":{"type":"array","items":{"$ref":"#/components/schemas/Winner"},"example":[]}}},"example":{"draw":{"id":"f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345","tweetUrl":"https://x.com/elonmusk/status/1234567890","tweetId":"1234567890","tweetText":"Giving away 3 Tesla Model 3s!","tweetAuthorUsername":"elonmusk","status":"completed","totalEntries":250,"validEntries":200,"tweetLikeCount":50000,"tweetRetweetCount":25000,"tweetReplyCount":10000,"tweetQuoteCount":5000,"createdAt":"2025-01-15T12:00:00Z"},"winners":[]}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get draw details."}},"/api/v1/draws/{id}/export":{"get":{"operationId":"exportDraw","summary":"Export draw data","tags":["Draws"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/DrawId"},{"name":"format","in":"query","required":true,"description":"Export output format. PDF entry exports include up to 10,000 rows. Other entry formats include up to 100,000 rows.","schema":{"type":"string","enum":["csv","json","md","md-document","pdf","txt","xlsx"]}},{"name":"type","in":"query","schema":{"type":"string","enum":["winners","entries"],"default":"winners"},"description":"Export winners or all entries"}],"responses":{"200":{"description":"Exported draw file","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Export draw data."}},"/api/v1/webhooks":{"get":{"operationId":"listWebhooks","summary":"List webhooks","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"responses":{"200":{"description":"Webhook list","content":{"application/json":{"schema":{"type":"object","required":["webhooks"],"properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"},"example":[]}}},"example":{"webhooks":[]}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List webhooks."},"post":{"operationId":"createWebhook","summary":"Create webhook","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"requestBody":{"required":true,"description":"HTTPS callback URL and event types to subscribe to.","content":{"application/json":{"schema":{"type":"object","required":["url","eventTypes"],"properties":{"url":{"type":"string","format":"uri","description":"HTTPS URL","example":"https://example.com/webhook"},"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new","tweet.reply"]}}},"example":{"url":"https://example.com/webhook","eventTypes":["tweet.new","tweet.reply"]}}}},"responses":{"201":{"description":"Webhook created","content":{"application/json":{"schema":{"type":"object","required":["id","url","secret","eventTypes","createdAt"],"properties":{"id":{"type":"string","example":"42"},"url":{"type":"string","format":"uri","example":"https://example.com/webhook"},"secret":{"type":"string","description":"Plaintext HMAC signing secret returned only at creation.","example":"a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"},"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new","tweet.reply"]},"createdAt":{"type":"string","format":"date-time","example":"2025-01-15T12:00:00Z"}}},"example":{"id":"42","url":"https://example.com/webhook","secret":"a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2","eventTypes":["tweet.new","tweet.reply"],"createdAt":"2025-01-15T12:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Create webhook."}},"/api/v1/webhooks/{id}":{"patch":{"operationId":"updateWebhook","summary":"Update webhook","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"requestBody":{"required":true,"description":"Updated URL, event types, or active status.","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri","example":"https://example.com/webhook"},"eventTypes":{"$ref":"#/components/schemas/EventTypeArray","example":["tweet.new"]},"isActive":{"type":"boolean","example":true}}},"example":{"url":"https://example.com/webhook","isActive":true}}}},"responses":{"200":{"description":"Webhook updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Webhook"},"example":{"id":"42","url":"https://example.com/webhook","eventTypes":["tweet.new"],"isActive":true,"consecutiveFailures":0,"deliveryStatus":"active","failureHardCap":200,"createdAt":"2025-01-15T12:00:00Z"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Update webhook."},"delete":{"operationId":"deleteWebhook","summary":"Deactivate webhook","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Deactivate webhook."}},"/api/v1/webhooks/{id}/deliveries":{"get":{"operationId":"listWebhookDeliveries","summary":"List webhook deliveries","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Delivery list","content":{"application/json":{"schema":{"type":"object","required":["deliveries"],"properties":{"deliveries":{"type":"array","items":{"$ref":"#/components/schemas/Delivery"},"example":[]}}},"example":{"deliveries":[]}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"List webhook deliveries."}},"/api/v1/webhooks/{id}/test":{"post":{"operationId":"testWebhook","summary":"Test webhook endpoint","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Test result","content":{"application/json":{"schema":{"type":"object","required":["success","statusCode"],"properties":{"success":{"type":"boolean","example":true},"statusCode":{"type":"integer","example":200},"error":{"type":"string","example":""}}},"example":{"success":true,"statusCode":200}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Test webhook endpoint."}},"/api/v1/webhooks/{id}/resume":{"post":{"operationId":"resumeWebhook","summary":"Test and resume webhook endpoint","tags":["Webhooks"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/ResourceId"}],"responses":{"200":{"description":"Webhook resumed after a successful test delivery","content":{"application/json":{"schema":{"type":"object","required":["success","statusCode","webhook"],"properties":{"success":{"type":"boolean","example":true},"statusCode":{"type":"integer","example":200},"webhook":{"$ref":"#/components/schemas/Webhook"}}},"example":{"success":true,"statusCode":200,"webhook":{"id":"42","url":"https://example.com/webhook","eventTypes":["tweet.new"],"isActive":true,"consecutiveFailures":0,"deliveryStatus":"active","failureHardCap":200,"createdAt":"2025-01-15T12:00:00Z"}}}}},"400":{"description":"Webhook test failed","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["error","statusCode","success"],"properties":{"error":{"type":"string","description":"Delivery failure returned by the webhook sender.","example":"Connection timed out"},"statusCode":{"type":"integer","description":"Webhook response status, or 0 before a response.","example":0},"success":{"type":"boolean","const":false}}},"example":{"error":"Connection timed out","statusCode":0,"success":false}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Test and resume webhook endpoint."}},"/api/v1/x/tweets":{"get":{"operationId":"getBatchTweets","summary":"Get multiple tweets by IDs","tags":["Tweets"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"string"},"description":"Comma-separated tweet IDs (max 100)"}],"responses":{"200":{"description":"Requested tweets in request order. Partial successful reads recheck unresolved IDs once.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedTweets"},"example":{"tweets":[{"id":"1234567890","text":"Just launched our new feature!","createdAt":"2025-01-15T12:00:00Z","likeCount":42,"retweetCount":5,"replyCount":3,"quoteCount":1,"viewCount":1500,"bookmarkCount":2,"author":{"id":"9876543210","username":"elonmusk","name":"Elon Musk","verified":true}}],"has_next_page":false,"next_cursor":""}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/AnonymousGuestAuthenticationRequired"},"402":{"$ref":"#/components/responses/PaymentRequired"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get multiple tweets by IDs."},"post":{"operationId":"createTweet","x-write-action":"create_tweet","summary":"Create tweet","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"}],"requestBody":{"required":true,"description":"Account and tweet content. Requires text, media, or both.","content":{"application/json":{"schema":{"type":"object","required":["account"],"properties":{"account":{"type":"string","description":"X account (@username or account ID)","example":"@elonmusk"},"text":{"type":"string","description":"Tweet text (optional when media is provided)","example":"Just launched our new feature!"},"reply_to_tweet_id":{"type":"string","example":"1234567890"},"community_id":{"type":"string","example":"1500000000000000000"},"is_note_tweet":{"type":"boolean","example":false},"media":{"type":"array","items":{"type":"string"},"maxItems":4,"description":"Array of public media URLs to attach. Supports up to 4 images or exactly 1 MP4 video up to 100 MB. Each URL must be publicly reachable. Attached media adds 2 credits per started MB across all files.","example":["https://example.com/video.mp4"]}}},"example":{"account":"@elonmusk","text":"Just launched our new feature!"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/WriteRateLimited"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Create tweet."}},"/api/v1/x/write-actions/{id}":{"get":{"operationId":"getWriteActionStatus","summary":"Get write action status","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Write action ID returned by a pending write response."}],"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"401":{"$ref":"#/components/responses/Unauthenticated"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get write action status."}},"/api/v1/x/trends":{"get":{"operationId":"getXTrends","summary":"Get trending hashtags and topics from X by region","tags":["Trends"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"x-payment-info":{"offers":[{"amount":"450","currency":"0x20c000000000000000000000b9537d11c60e8b50","intent":"charge","method":"tempo"}]},"parameters":[{"name":"woeid","in":"query","schema":{"type":"integer","default":1},"description":"Region WOEID (1=Worldwide, 23424977=US, 23424975=UK, 23424969=Turkey)"},{"name":"count","in":"query","description":"Number of trending topics to return (1-50, default 30)","schema":{"type":"integer","default":30,"minimum":1,"maximum":50}}],"responses":{"200":{"description":"List of trending topics","content":{"application/json":{"schema":{"type":"object","required":["trends","count","woeid"],"properties":{"trends":{"type":"array","items":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"#AI"},"description":{"type":"string","example":"Artificial intelligence discussions"},"query":{"type":"string","example":"%23AI"},"promotedContent":{"type":["string","null"],"description":"Promotion identifier from X. Null for organic trends."},"rank":{"type":"integer","example":1},"tweetVolume":{"type":["integer","null"],"description":"Approximate public post volume when X supplies it.","example":250000},"url":{"type":"string","format":"uri","description":"X search URL for the trend."}}},"example":[{"name":"#AI","description":"Artificial intelligence discussions","promotedContent":null,"query":"%23AI","rank":1,"tweetVolume":250000,"url":"https://x.com/search?q=%23AI"}]},"count":{"type":"integer","example":30},"woeid":{"type":"integer","example":1}}},"example":{"trends":[{"name":"#AI","description":"Artificial intelligence discussions","promotedContent":null,"query":"%23AI","rank":1,"tweetVolume":250000,"url":"https://x.com/search?q=%23AI"}],"count":30,"woeid":1}}}},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get trending hashtags and topics from X by region."}},"/api/v1/x/tweets/search":{"get":{"operationId":"searchTweets","summary":"Search tweets by query, Tweet ID, X status URL, or account date window","description":"No-mode search maximizes coverage. New cursorless `Latest` sessions return rows newest-first across cursor pages. Existing cursors preserve their established ordering.\n","tags":["Tweets"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"description":"Query, Tweet ID, or status URL. Valid inline bounds apply per page."},{"name":"queryType","in":"query","required":false,"schema":{"type":"string","enum":["Latest","Top"],"default":"Latest"},"description":"Sort order - Latest (chronological) or Top (engagement-ranked)"},{"$ref":"#/components/parameters/AutomaticCoverageMode"},{"$ref":"#/components/parameters/AutomaticCoverageCursor"},{"name":"sinceTime","in":"query","schema":{"type":"string"},"description":"Inclusive ISO bound."},{"name":"untilTime","in":"query","schema":{"type":"string"},"description":"Exclusive ISO bound."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":10000},"description":"Result upper bound. Omit it for the existing 20-row page size. Explicit coverage defaults to 2000 and allows 10000. For paid requests, remaining credits can reduce results. Zero affordable results returns 402.\n"},{"$ref":"#/components/parameters/TweetFilterFromUser"},{"$ref":"#/components/parameters/TweetFilterToUser"},{"$ref":"#/components/parameters/TweetFilterMentioning"},{"$ref":"#/components/parameters/TweetFilterLanguage"},{"$ref":"#/components/parameters/TweetFilterSinceDate"},{"$ref":"#/components/parameters/TweetFilterUntilDate"},{"$ref":"#/components/parameters/TweetFilterMediaType"},{"$ref":"#/components/parameters/TweetFilterMinFaves"},{"$ref":"#/components/parameters/TweetFilterMinRetweets"},{"$ref":"#/components/parameters/TweetFilterMinReplies"},{"$ref":"#/components/parameters/TweetFilterMinQuotes"},{"$ref":"#/components/parameters/TweetFilterMinViews"},{"$ref":"#/components/parameters/TweetFilterMinBookmarks"},{"$ref":"#/components/parameters/TweetFilterMaxFaves"},{"$ref":"#/components/parameters/TweetFilterMaxRetweets"},{"$ref":"#/components/parameters/TweetFilterMaxReplies"},{"$ref":"#/components/parameters/TweetFilterMaxQuotes"},{"$ref":"#/components/parameters/TweetFilterBlueVerifiedOnly"},{"$ref":"#/components/parameters/TweetFilterCardName"},{"$ref":"#/components/parameters/TweetFilterSource"},{"$ref":"#/components/parameters/TweetFilterExcludeSource"},{"$ref":"#/components/parameters/TweetFilterGeocode"},{"$ref":"#/components/parameters/TweetFilterSinceId"},{"$ref":"#/components/parameters/TweetFilterMaxId"},{"$ref":"#/components/parameters/TweetFilterNear"},{"$ref":"#/components/parameters/TweetFilterWithin"},{"$ref":"#/components/parameters/TweetFilterWithinTime"},{"$ref":"#/components/parameters/TweetFilterNativeRetweets"},{"$ref":"#/components/parameters/TweetFilterSafe"},{"$ref":"#/components/parameters/TweetFilterNews"},{"$ref":"#/components/parameters/TweetFilterVerifiedOnly"},{"$ref":"#/components/parameters/TweetFilterReplies"},{"$ref":"#/components/parameters/TweetFilterRetweets"},{"$ref":"#/components/parameters/TweetFilterQuotes"},{"$ref":"#/components/parameters/TweetFilterExactPhrase"},{"$ref":"#/components/parameters/TweetFilterExcludeWords"},{"$ref":"#/components/parameters/TweetFilterAnyWords"},{"$ref":"#/components/parameters/TweetFilterHashtags"},{"$ref":"#/components/parameters/TweetFilterCashtags"},{"$ref":"#/components/parameters/TweetFilterUrl"},{"$ref":"#/components/parameters/TweetFilterConversationId"},{"$ref":"#/components/parameters/TweetFilterInReplyToTweetId"},{"$ref":"#/components/parameters/TweetFilterQuotesOfTweetId"},{"$ref":"#/components/parameters/TweetFilterRetweetsOfTweetId"},{"$ref":"#/components/parameters/TweetSearchListId"},{"$ref":"#/components/parameters/TweetSearchPlace"},{"$ref":"#/components/parameters/TweetSearchPlaceCountry"},{"$ref":"#/components/parameters/TweetSearchPointRadius"},{"$ref":"#/components/parameters/TweetSearchBoundingBox"},{"$ref":"#/components/parameters/TweetSearchAdvancedQuery"}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/PaginatedTweets"},{"$ref":"#/components/schemas/TweetSearchCoverageResponse"}]},"example":{"tweets":[{"id":"1234567890","text":"Just launched our new feature!","createdAt":"2025-01-15T12:00:00Z","likeCount":42,"retweetCount":5,"replyCount":3,"quoteCount":1,"viewCount":1500,"bookmarkCount":2,"author":{"id":"9876543210","username":"elonmusk","name":"Elon Musk","verified":true}}],"has_next_page":true,"next_cursor":"DAACCgACGRElMJcAAA"}}}},"400":{"description":"Missing query","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"missing_query"}}}},"401":{"$ref":"#/components/responses/AnonymousGuestAuthenticationRequired"},"402":{"$ref":"#/components/responses/PaymentRequired"},"409":{"$ref":"#/components/responses/CoverageCursorUnavailable"},"410":{"$ref":"#/components/responses/CursorGone"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"503":{"$ref":"#/components/responses/MaximumCoverageBusy"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/x/articles/{tweetId}":{"get":{"operationId":"getArticle","summary":"Get full X Article content with cover image and metadata","description":"Retrieve the full content of an X Article (long-form post) by numeric tweet ID. Returns article_not_found when the tweet is valid but is not an X Article.","tags":["Articles"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"x-payment-info":{"offers":[{"amount":"750","currency":"0x20c000000000000000000000b9537d11c60e8b50","intent":"charge","method":"tempo"}]},"parameters":[{"name":"tweetId","in":"path","required":true,"schema":{"type":"string"},"description":"Numeric tweet ID of the article, 15-20 digits. If you have a tweet URL, use the final status ID."}],"responses":{"200":{"description":"Article with author","content":{"application/json":{"schema":{"type":"object","required":["article"],"properties":{"article":{"type":"object","properties":{"title":{"type":"string","example":"The Future of AI"},"previewText":{"type":"string","example":"A deep dive into the latest AI trends..."},"coverImageUrl":{"type":"string","example":"https://pbs.twimg.com/media/example.jpg"},"bodyText":{"type":"string","description":"Plain text joined from all article blocks","example":"This is the first paragraph of the article."},"contents":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"Block type: paragraph, header-one, header-two, header-three, header-four, header-five, header-six, unordered-list-item, ordered-list-item, blockquote, code-block, media, divider","example":"paragraph"},"text":{"type":"string","example":"This is the first paragraph of the article."},"url":{"type":"string","description":"Media URL for media blocks","example":"https://pbs.twimg.com/media/example.jpg"},"previewUrl":{"type":"string","description":"Preview image URL for media blocks","example":"https://pbs.twimg.com/media/example.jpg"},"width":{"type":"integer","example":1200},"height":{"type":"integer","example":675},"inlineStyleRanges":{"type":"array","description":"Inline text formatting ranges","items":{"type":"object","properties":{"offset":{"type":"integer","example":0},"length":{"type":"integer","example":8},"style":{"type":"string","example":"BOLD"}}}}}}},"createdAt":{"type":"string","example":"2025-01-15T12:00:00Z"},"likeCount":{"type":"integer","example":150},"replyCount":{"type":"integer","example":23},"quoteCount":{"type":"integer","example":8},"viewCount":{"type":"integer","example":5000}}},"author":{"$ref":"#/components/schemas/ArticleAuthor"}}},"example":{"article":{"title":"The Future of AI","previewText":"A deep dive into the latest AI trends...","coverImageUrl":"https://pbs.twimg.com/media/example.jpg","contents":[{"type":"paragraph","text":"This is the first paragraph of the article."}],"createdAt":"2025-01-15T12:00:00Z","likeCount":150,"replyCount":23,"quoteCount":8,"viewCount":5000},"author":{"id":"9876543210","name":"Elon Musk","username":"elonmusk","profilePicture":"https://pbs.twimg.com/profile_images/example.jpg"}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"description":"Article not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"article_not_found","message":"Article not found. Use an X Article tweet ID."}}}},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}}}},"/api/v1/x/tweets/{id}":{"get":{"operationId":"lookupTweet","summary":"Get tweet with full text, author, metrics and media","tags":["Tweets"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"x-payment-info":{"offers":[{"amount":"150","currency":"0x20c000000000000000000000b9537d11c60e8b50","intent":"charge","method":"tempo"}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Numeric tweet ID, 15-20 digits"}],"responses":{"200":{"description":"Tweet with author","content":{"application/json":{"schema":{"type":"object","required":["tweet"],"properties":{"tweet":{"$ref":"#/components/schemas/TweetDetail"},"author":{"$ref":"#/components/schemas/TweetAuthor","example":{"id":"9876543210","username":"elonmusk","name":"Elon Musk","followers":150000000,"verified":true}}}},"example":{"tweet":{"id":"1234567890","text":"Just launched our new feature!","createdAt":"2025-01-15T12:00:00Z","retweetCount":5,"replyCount":3,"likeCount":42,"quoteCount":1,"viewCount":1500,"bookmarkCount":2},"author":{"id":"9876543210","username":"elonmusk","name":"Elon Musk","followers":150000000,"verified":true}}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"description":"Tweet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"tweet_not_found","message":"Tweet not found. Check the tweet ID."}}}},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get tweet with full text, author, metrics and media."},"delete":{"operationId":"deleteTweet","x-write-action":"delete_tweet","summary":"Delete tweet","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Tweet ID to delete"}],"requestBody":{"required":true,"description":"Account that owns the tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"},"example":{"account":"@elonmusk"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/RateLimitedByX"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Delete tweet."}},"/api/v1/x/tweets/{id}/like":{"post":{"operationId":"likeTweet","x-write-action":"like","summary":"Like tweet","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Tweet ID to like"}],"requestBody":{"required":true,"description":"Account to perform the like.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"},"example":{"account":"@elonmusk"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/RateLimitedByX"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Like tweet."},"delete":{"operationId":"unlikeTweet","x-write-action":"unlike","summary":"Unlike tweet","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Tweet ID to unlike"}],"requestBody":{"required":true,"description":"Account that liked the tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/RateLimitedByX"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Unlike tweet."}},"/api/v1/x/tweets/{id}/retweet":{"post":{"operationId":"retweet","x-write-action":"retweet","summary":"Retweet","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Tweet ID to retweet"}],"requestBody":{"required":true,"description":"Account to perform the retweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/RateLimitedByX"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Retweet."},"delete":{"operationId":"unretweet","x-write-action":"unretweet","summary":"Unretweet","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Tweet ID to unretweet"}],"requestBody":{"required":true,"description":"Account that retweeted the tweet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/RateLimitedByX"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Unretweet."}},"/api/v1/x/users/batch":{"get":{"operationId":"getBatchUsers","summary":"Look up multiple users by IDs in one call","tags":["Users"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"string"},"description":"Comma-separated numeric user IDs (1-100 values). Duplicate IDs are ignored while preserving first-seen order."}],"responses":{"200":{"description":"Matched users plus reconciliation metadata for unavailable IDs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUsers"},"example":{"users":[{"id":"9876543210","username":"elonmusk","name":"Elon Musk"}],"has_next_page":false,"next_cursor":"","requested_count":2,"processed_count":2,"returned_count":1,"unavailable_ids":["1234567890"],"unprocessed_ids":[]}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/AnonymousGuestAuthenticationRequired"},"402":{"$ref":"#/components/responses/PaymentRequired"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Look up multiple users by IDs in one call."}},"/api/v1/x/users/search":{"get":{"operationId":"searchUsers","summary":"Search users by name or username","tags":["Users"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"description":"User search query"},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pagination cursor for user search"},{"$ref":"#/components/parameters/ResultPageSize"},{"$ref":"#/components/parameters/UserFilterMinFollowers"},{"$ref":"#/components/parameters/UserFilterMaxFollowers"},{"$ref":"#/components/parameters/UserFilterMinFollowing"},{"$ref":"#/components/parameters/UserFilterMaxFollowing"},{"$ref":"#/components/parameters/UserFilterMinStatuses"},{"$ref":"#/components/parameters/UserFilterMaxStatuses"},{"$ref":"#/components/parameters/UserFilterMinAccountAgeDays"},{"$ref":"#/components/parameters/UserFilterVerifiedOnly"},{"$ref":"#/components/parameters/UserFilterVerifiedType"},{"$ref":"#/components/parameters/UserFilterHasWebsite"},{"$ref":"#/components/parameters/UserFilterHasLocation"},{"$ref":"#/components/parameters/UserFilterBioContains"},{"$ref":"#/components/parameters/UserFilterLocationContains"},{"$ref":"#/components/parameters/UserFilterUsernameContains"}],"responses":{"200":{"description":"User search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedUsers"}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/AnonymousGuestAuthenticationRequired"},"402":{"$ref":"#/components/responses/PaymentRequired"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Search users by name or username."}},"/api/v1/x/users/{id}":{"get":{"operationId":"getUser","summary":"Get user profile with follower counts and verification","tags":["Users"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"x-payment-info":{"offers":[{"amount":"150","currency":"0x20c000000000000000000000b9537d11c60e8b50","intent":"charge","method":"tempo"}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"X username (without @) or user ID"}],"responses":{"200":{"description":"User profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"},"example":{"id":"9876543210","username":"elonmusk","name":"Elon Musk","description":"CEO of Tesla, SpaceX, and X","followers":150000000,"following":500,"verified":true}}}},"400":{"$ref":"#/components/responses/InvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"404":{"$ref":"#/components/responses/UserNotFound"},"424":{"$ref":"#/components/responses/XApiError"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"502":{"$ref":"#/components/responses/XApiError"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Get user profile with follower counts and verification."}},"/api/v1/x/users/{id}/follow":{"post":{"operationId":"followUser","x-write-action":"follow","summary":"Follow user","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"User ID to follow"}],"requestBody":{"required":true,"description":"Account to perform the follow.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/WriteRateLimited"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Follow user."},"delete":{"operationId":"unfollowUser","x-write-action":"unfollow","summary":"Unfollow user","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"User ID to unfollow"}],"requestBody":{"required":true,"description":"Account that follows the target user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/WriteRateLimited"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Unfollow user."}},"/api/v1/x/users/{id}/remove-follower":{"post":{"operationId":"removeFollower","x-write-action":"remove_follower","summary":"Remove follower","tags":["X Write"],"security":[{"apiKey":[]},{"oauthBearer":[]}],"parameters":[{"$ref":"#/components/parameters/WriteIdempotencyKey"},{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"User ID to remove from your followers"}],"requestBody":{"required":true,"description":"Account whose follower list should be updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/XAccountBody"}}}},"responses":{"200":{"$ref":"#/components/responses/WriteActionCompleted"},"202":{"$ref":"#/components/responses/WriteActionAccepted"},"400":{"$ref":"#/components/responses/WriteInvalidInput"},"401":{"$ref":"#/components/responses/Unauthenticated"},"402":{"$ref":"#/components/responses/PaymentRequired"},"403":{"$ref":"#/components/responses/AccountAuthError"},"409":{"$ref":"#/components/responses/WriteIdempotencyConflict"},"422":{"$ref":"#/components/responses/WriteRejected"},"429":{"$ref":"#/components/responses/WriteRateLimited"},"500":{"$ref":"#/components/responses/WriteError"},"503":{"$ref":"#/components/responses/WriteTrackingUnavailable"},"default":{"$ref":"#/components/responses/UnexpectedError"}},"description":"Remove follower."}},"/api/v1/x/followers/check":{"get":{"operationId":"checkFollow","summary":"Check if one user follows another","tags":["Users"],"security":[{"apiKey":[]},{"oauthBearer":[]},{}],"x-payment-info":{"offers":[{"amount":"750","currency":"0x20c000000000000000000000b9537d11c60e8b50","intent":"charge","method":"tempo"}]},"parameters":[{"name":"source","in":"query","required":true,"schema":{"type":"string"},"description":"Source username, @username, or X or Twitter profile URL"},{"name":"target","in":"query","required":true,"schema":{"type":"string"},"description":"Target username, @username, or X or Twitter profile URL"}],"responses":{"200":{"description":"Follow ch
[...]
